.position-content {
  border-radius: 6px;
  position: relative;
  width: 100%;
  .select-block-time {
    display: flex;
    flex-direction: column;
    .input-group {
      padding: 2px 1px 3px 1px;
      background: var(--background-main-aplication);
      border-radius: 2px;
      width: 92.4%;
      margin: auto;
      .position-element-input {
        display: flex;
        justify-content: space-between;
        margin: 20px 10px 0 10px;
        .form-control {
          width: 86%;
          height: 38px;
          background: var(--background-main-aplication);
          border-bottom: 1px solid var(--color-room-rental);
          padding: 1px 4px;
          font-size: 27px;
          color: var(--header-color-text);
          transition: all 0.5s ease-in-out;
        }
        .invalid {
          transition: all 0.5s ease-in;
          border: 1px solid #F3ADAD !important;
        }
        .text-label {
          padding-top: 10px;
          font-size: 15px;
          color: #949494;
          transition: all 0.5s ease-in-out;
        }
        .invalid__text {
          transition: all 0.5s ease-in;
          color: #F3ADAD !important;
        }
        .btn-block-calendar {
          .btn-calendar {
            background: var(--background-main-aplication);
            width: 100%;
            height: 41px;
            border: none;
            border-bottom: 1px solid var(--background-room-rental);
            padding: 10px 8px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            .calendar-icon {
              &:before {
                transition: all 0.4s ease-out;
                color: var(--color-room-rental);
                font-size: 31px;
                position: relative;
                top: -7px;
                left: 0;
              }
            }
            &:hover {
              transition: all 0.3s ease-in;
              background-color: #eaeaea;
            }
          }
        }
      }
    }
    .select-time-order {
      position: relative;
      background: var(--background-main-aplication);
      border-radius: 2px;
      margin-top: 2px;
      .position-select-time-order {
        display: flex;
        flex-direction: column;
        padding: 5px 5px 14px 5px;
        width: 92%;
        margin: auto;
        .chose-text {
          width: 100%;
          font-size: 13px;
          text-align: center;
          color: var(--background-room-rental);
          margin: auto;
        }
        .time-order {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          .position-input {
            padding: 0;
            position: relative;
            left: -8px;
            .container {
              width: 110px;
              font-family: Exo2Regular, serif;
              display: block;
              position: relative;
              margin-top: 20px;
              margin-left: 15px;
              font-size: 12px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              text-align: center;
              color: silver;
              padding-top: 4px;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              input:checked ~ div .checkmark {
                transition: all .3s ease-in;
                background-color: var(--background-room-rental);
                border: 1px solid var(--background-room-rental);
                span {
                  color: white;
                }
              }
              .time-check-block, .no-active {
                position: relative;
                top: -17px;
                left: -1px;
                .checkmark {
                  border-radius: 2px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: all 0.3s ease-out;
                  cursor: pointer;
                  height: 30px;
                  align-items: center;
                  display: flex;
                  width: 110px;
                  justify-content: center;
                  margin-top: -6px;
                  background-color: #f4f4f4;
                  border: 1px solid var(--background-room-rental);
                  span {
                    transition: all 0.3s ease-out;
                    color: var(--color-room-rental);
                  }
                }
                .checkmark:hover {
                  background-color: var(--background-room-rental);
                  opacity: 0.7;
                  span {
                    color: white;
                  }
                }
              }
              .no-active {
                .checkmark {
                  transition: all 0.3s ease-out;
                  opacity: 0.5;
                  border: 1px solid silver;
                  color: silver;
                }
              }
            }
          }
        }
      }
    }
  }
  .error-time {
    width: 100%;
    margin: 10px 0;
    .error-alert {
      padding: 10px 0;
      margin: 10px 0;
      background-color: #EBEBEB;
      text-align: center;
      border-radius: 3px;
      &__text {
        font-size: 11px;
        color: #FFA288;
      }
    }
  }
  .error-data {
    width: 80%;
    background: #EBEBEB;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    &__text {
      color: #FFA288;
      font-size: 12px;
    }
  }
}
.error-no-selected {
  text-align: center;
  margin-top: 3px;
  height: 40px;
  .btn-order-time {
    padding: 4px 0;
    border-radius: 2px;
    background: var(--background-main-aplication);
    display: flex;
    justify-content: center;
    width: 100%;
    .btn-go-order {
      padding: 6px 36px;
      border: 1px solid var(--background-room-rental);
      border-radius: 2px;
      cursor: pointer;
      position: relative;
      transition: all .3s ease-out;
      &__text {
        transition: all .3s ease-out;
        color: var(--color-room-rental);
        font-size: 13px;
      }
      &__icon {
        &:before {
          font-size: 13px;
          color: var(--color-room-rental);
          position: absolute;
          top: 10px;
          right: 9px;
        }
      }
      &:hover {
        transition: all .3s ease-in;
        background-color: var(--background-room-rental);
        .btn-go-order__text {
          transition: all .3s ease-in;
          color: white;
        }
        .btn-go-order__icon {
          &:before {
            transition: all .3s ease-in;
            color: white;
          }
        }
      }
    }
  }
  &__text {
    color: #F3ADAD;
    background: #EBEBEB;
    padding: 10px 10px;
    margin: 0 1px 0 1px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
  }
}
.loader {
  span {
    transition: all 0.3s ease-out;
    opacity: 0.2;
  }
}
::ng-deep .loader {
  .smallSpinner {
    .overlay {
      border-radius: 0 !important;
      height: 100% !important;
      border: none !important;
      top: 9px !important;
    }
  }
}
// ___style input______
.input-position {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 20px;
  .form-input {
    padding: 5px 15px;
    border: none;
    outline: 0 !important;
    transition: all 0.2s ease-out;
  }
}
//_____________ style calendar_____________________
::ng-deep.show {
  top: -44px !important;
  left: -2px !important;
  right: 47px !important;
  margin: auto !important;
  background: #FBFBFB;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  width: 100%;
  z-index: 200;
  .ngb-dp-header {
    width: 80% !important;
    margin: 20px auto !important;
    .ng-star-inserted {
      .ngb-dp-arrow {
        .ngb-dp-navigation-chevron {
          color: green;
        }
      }
      .ngb-dp-navigation-select {
        .custom-select {
          border-radius: 2px !important;
          border: 1px solid var(--color-border) !important;
          margin-left: 4px !important;
          color: cadetblue !important;
        }
      }
    }
  }
  .ngb-dp-months {
    justify-content: space-evenly;
    ngb-datepicker-month-view {
      .ngb-dp-week, .ngb-dp-weekdays, .ng-star-inserted {
        border-bottom: none;
        .ngb-dp-weekday, .small, .ng-star-inserted {
          background: var(--background-main-aplication);
          color: var(--color-input-text);
          border-radius: 0;
          //border-bottom: 1px solid var(--color-border);
        }
        .ngb-dp-today {
          .btn-light {
            color: var(--color-white) !important;
            background: var(--background-btn-text) !important;
            border-radius: 2px !important;
          }
        }
        .ngb-dp-day {
          .btn-light {
            color: var(--background-btn);
          }
        }
      }
      .ng-star-inserted {
        color: var(--color-input-text);
      }
    }
  }
}
@media all and (max-width: 1380px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .position-select-time-order {
          padding: 7px 5px;
          width: 100%;
          .time-order {
            .position-input {
              left: -12px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1300px) {
  .position-content {
    .select-block-time {
      .input-group {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 1240px) {
  .position-content {
    .error-no-selected {
      left: 20%;
    }
  }
}
@media all and (max-width: 1200px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .position-select-time-order {
          padding: 10px 5px;
        }
      }
    }
  }
}
@media all and (max-width: 1050px) {
  .position-content {
    .select-block-time {
      flex-direction: inherit;
      .input-group {
        width: 100%;
        margin: 0;
      }
      .select-time-order {
        width: 100%;
      }
    }
    .error-no-selected {
      position: absolute;
      bottom: -3px;
      left: 11px;
      display: -webkit-box;
      display: flex;
      justify-content: center
    }
  }
}
@media all and (max-width: 625px) {
  .position-content {
    .select-block-time {
      justify-content: center;
      flex-direction: column;
      .input-group {
        width: 100%;
        padding: 2px 0;
        margin: 2px auto;
      }
      .select-time-order {
        width: 100%;
        padding: 2px 0;
        margin: 2px auto;
        .position-select-time-order {
          padding: 10px 5px 20px 5px;
          width: 90%;
          .chose-text {
            padding-top: 0;
          }
          .time-order {
            .position-input {
              left: -6px;
            }
          }
        }
      }
    }
    .error-no-selected {
      position: initial;
    }
  }
}
@media all and (max-width: 400px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .time-order {
          position: relative;
          left: 10px;
          .position-input {
            left: -21px !important;
          }
          .error-time {
            margin: 0;
          }
        }
      }
    }
    .btn-order-time {
      width: 100%;
      margin: auto;
      padding: 6px 0;
    }
  }
}
@media all and (max-width: 319px) {
  .position-content {
    .error-no-selected {
      .error-no-selected__text {
        padding: 10px 20px !important;
      }
    }
  }
}
