<div class="position-content" [@fadingAwayAnimate]>
  <div class="select-block-time">
    <div class="input-group">
      <div class="position-element-input input-position">
        <input class="form-control form-input" [(ngModel)]="date"
               [ngClass]="{'invalid': dateError}"
               required (ngModelChange)="selectDataCalendar(date)"
               title="dateEvent"
               readonly
               ngbDatepicker
               #e="ngbDatepicker">
        <div class="btn-block-calendar">
          <button class="btn-calendar"
                  type="button"
                  (click)="e.toggle()"
                  [ngClass]="{'invalid': dateError}">
            <i class="far fa-calendar-alt calendar-icon"></i></button>
        </div>
      </div>
    </div>
    <div class="select-time-order">
      <div class="position-select-time-order">
        <label class="chose-text">Выбор времени:</label>
        <div class="time-order">
          <div class="position-input" *ngFor="let data of timeCheckbox; let i=index">
            <label for="one{{i}}" class="container">{{data.value.time}}
              <input #input name="trainers" type="checkbox" id="one{{i}}"
                     [disabled]="timeChoice[i].status == true"
                     (change)="onChange(data.value.time, $event.target.checked)">
              <div class="time-check-block" [@fadingAwayAnimate]
                   [ngClass]="{'no-active' : timeChoice[i].status}">
                <app-loader-small-spinner-btn class="loader"
                                              *ngIf="loaderTimePeriod"></app-loader-small-spinner-btn>
                <span class="checkmark"
                      [ngClass]="{'loader': loaderTimePeriod}"> <span> {{data.value.time }}</span></span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="error-no-selected">
    <div class="btn-order-time" *ngIf="validations" [@showAnimate]>
      <button class="btn-go-order" (click)="nextOnOrder()">
        <span class="btn-go-order__text">Далее</span>
        <i class="fas fa-long-arrow-alt-right btn-go-order__icon"></i>
      </button>
    </div>
    <span class="error-no-selected__text" [@showAnimate] *ngIf="selectedTime">Вы не выбрали время </span>
  </div>
</div>



