.position-content {
  background: white;
  border-radius: 6px;
  position: relative;
  width: 100%;
  .select-block-time {
    display: flex;
    //justify-content: space-around;
    flex-direction: column;
    .input-group {
      padding: 28px 1px 3px 1px;
      background: #EFEFEF;
      border-radius: 2px;
      margin-top: 2px;
      min-height: 150px;
      .position-element-input {
        display: flex;
        justify-content: space-between;
        margin: 20px 10px;
        .form-control {
          width: 100%;
          height: 38px;
          border: 1px solid #5F9EA0;
          padding: 1px 10px;
          font-size: 15px;
          color: #5F9EA0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          transition: all 0.5s ease-in-out;
        }
        .invalid {
          transition: all 0.5s ease-in;
          border: 1px solid #F3ADAD !important;
        }
        .text-label {
          padding-top: 10px;
          font-size: 15px;
          color: #949494;
          transition: all 0.5s ease-in-out;
        }
        .invalid__text {
          transition: all 0.5s ease-in;
          color: #F3ADAD !important;
        }
        .btn-block-calendar {
          .btn-calendar {
            background: white;
            width: 100%;
            height: 42px;
            border: 1px solid #5F9EA0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: 10px 14px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            .calendar-icon {
              &:before {
                transition: all 0.4s ease-out;
                color: #528182;
                font-size: 18px;
              }
            }
            &:hover {
              transition: all 0.3s ease-in;
              //border: 1px solid silver;
              background-color: #eaeaea;
            }
          }
        }
      }
      .error-time {
        width: 100%;
        margin: 10px 0;
        .error-alert {
          padding: 10px 0;
          margin: 10px 0;
          background-color: #EBEBEB;
          text-align: center;
          border-radius: 3px;
          &__text {
            font-size: 11px;
            color: #FFA288;
          }
        }
      }
      .error-data {
        width: 80%;
        background: #EBEBEB;
        padding: 10px 20px;
        margin: auto;
        text-align: center;
        border-radius: 2px;
        &__text {
          color: #FFA288;
          font-size: 12px;
        }
      }
    }
    .select-time-order {
      position: relative;
      background: #EFEFEF;
      border-radius: 2px;
      margin-top: 2px;
      .position-select-time-order {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 21px;
        .chose-text {
          width: 90%;
          padding-top: 10px;
          padding-right: 2%;
          font-size: 13px;
          text-align: center;
          color: #355F80;
          margin: auto;
        }
        .time-order {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          .position-input {
            //padding: 2px;
            //position: relative;
            //left: -18px;
            padding: 2px;
            position: relative;
            left: 0;
            top: 14px;
            .container {
              //width: 110px;
              //font-family: Exo2Regular, serif;
              //display: block;
              //position: relative;
              //margin-top: 20px;
              //margin-left: 15px;
              //font-size: 12px;
              //-webkit-user-select: none;
              //-moz-user-select: none;
              //-ms-user-select: none;
              //user-select: none;
              //text-align: center;
              //color: silver;
              //padding-top: 4px;
              width: 80px;
              font-family: Exo2Regular, serif;
              display: block;
              position: relative;
              font-size: 11px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              text-align: center;
              color: silver;
              //padding-top: 4px;
              padding: 0;
              height: 30px;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              input:checked ~ div .checkmark {
                transition: all .3s ease-in;
                background-color: #48898b;
                span {
                  color: white;
                }
              }
              .time-check-block, .no-active {
                position: relative;
                top: -17px;
                left: -1px;
                .checkmark {
                  border-radius: 2px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: all 0.3s ease-out;
                  cursor: pointer;
                  height: 30px;
                  align-items: center;
                  display: flex;
                  width: 80px;
                  //width: 110px;
                  justify-content: center;
                  margin-top: -6px;
                  background-color: #f4f4f4;
                  border: 1px solid #5F9EA0;
                  span {
                    transition: all 0.3s ease-out;
                    color: #5F9EA0;
                  }
                }
                .checkmark:hover {
                  background-color: #eaeaea;
                }
              }
              .no-active {
                .checkmark {
                  transition: all 0.3s ease-out;
                  opacity: 0.5;
                  border: 1px solid silver;
                  color: silver;
                }
              }
            }
          }
        }
      }
    }
  }
  .error-no-selected {
    position: absolute;
    left: 25%;
    text-align: center;
    padding: 10px;
    bottom: 3px;
    z-index: 12;
    &__text {
      color: #F3ADAD;
      background: #EBEBEB;
      padding: 10px 20px;
      margin: 0 1px 0 1px;
      border-radius: 2px;
    }
  }
  .btn-order-time {
    padding: 6px;
    margin-top: 2px;
    border-radius: 2px;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    .btn-go-order {
      padding: 5px 40px;
      border: 1px solid #48898b;
      border-radius: 2px;
      cursor: pointer;
      &__text {
        color: #2C6365;
        font-size: 13px;
      }
      &__icon {
        &:before {
          font-size: 13px;
          color: #2C6365;
          position: relative;
          top: 1px;
          left: 30px;
        }
      }
      &:hover {
        transition: all .3s ease-in;
        background-color: #2C6365;
        .btn-go-order__text {
          transition: all .3s ease-in;
          color: white;
        }
        .btn-go-order__icon {
          &:before {
            transition: all .3s ease-in;
            color: white;
          }
        }
      }
    }
  }
}
.loader {
  span {
    transition: all 0.3s ease-out;
    opacity: 0.2;
  }
}
::ng-deep .loader {
  .smallSpinner {
    .overlay {
      border-radius: 0 !important;
      height: 100% !important;
      border: none !important;
      top: 9px !important;
    }
  }
}
// ___style input______
.input-position {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 20px;
  .form-input {
    padding: 5px 15px;
    border: none;
    outline: 0 !important;
    transition: all 0.2s ease-out;
  }
  .form-label {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 4px;
    transition: all 0.2s ease-out;
    z-index: 100;
    color: #FBFBFB;
  }
  .form-input:focus ~ .form-label {
    top: -33px;
    left: 5px;
    padding: 4px 0;
    font-size: 12px;
    color: #008B8B !important;
    transition: all 0.2s ease-in;
  }
  .form-input:not(:focus):valid ~ .form-label {
    top: -33px;
    left: 5px;
    padding: 4px 0;
    font-size: 14px;
    color: #008B8B !important;
    transition: all 0.2s ease-out;
  }
}
//_____________ style calendar_____________________
::ng-deep.show {
  top: -44px !important;
  left: -2px !important;
  right: 47px !important;
  margin: auto !important;
  background: #FBFBFB;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  width: 100%;
  z-index: 200;
  .ngb-dp-header {
    width: 80% !important;
    margin: 20px auto !important;
    .ng-star-inserted {
      .ngb-dp-arrow {
        .ngb-dp-navigation-chevron {
          color: green;
        }
      }
      .ngb-dp-navigation-select {
        .custom-select {
          border-radius: 2px !important;
          border: 1px solid var(--color-border) !important;
          margin-left: 4px !important;
          color: cadetblue !important;
        }
      }
    }
  }
  .ngb-dp-months {
    justify-content: space-evenly;
    ngb-datepicker-month-view {
      .ngb-dp-week, .ngb-dp-weekdays, .ng-star-inserted {
        border-bottom: none;
        .ngb-dp-weekday, .small, .ng-star-inserted {
          background: var(--background-main-aplication);
          color: var(--color-input-text);
          border-radius: 0;
          //border-bottom: 1px solid var(--color-border);
        }
        .ngb-dp-today {
          .btn-light {
            color: var(--color-white) !important;
            background: var(--background-btn-text) !important;
            border-radius: 2px !important;
          }
        }
        .ngb-dp-day {
          .btn-light {
            color: var(--background-btn);
          }
        }
      }
      .ng-star-inserted {
        color: var(--color-input-text);
      }
    }
  }
}
@media all and (max-width: 1380px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .position-select-time-order {
          padding: 22px 5px;
        }
      }
    }
  }
}
@media all and (max-width: 1240px) {
  .position-content {
    .error-no-selected {
      left: 20%;
    }
  }
}
@media all and (max-width: 1200px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .position-select-time-order {
          padding: 10px 5px;
        }
      }
    }
  }
}
@media all and (max-width: 1050px) {
  .position-content {
    .select-block-time {
      flex-direction: inherit;
      .input-group {
        width: 50%;
        margin: 0 2px 0 0;
      }
      .select-time-order {
        width: 50%;
        margin: 0 0 0 2px;
      }
    }
    .error-no-selected {
      bottom: 2px;
      left: -10px
    }
  }
}
@media all and (max-width: 880px) {
  .position-content {
    .error-no-selected {
      bottom: 1px;
      left: -9px;
    }
  }
}
@media all and (max-width: 625px) {
  .position-content {
    .select-block-time {
      justify-content: center;
      flex-direction: column;
      .input-group {
        width: 100%;
        padding: 2px 0;
        margin: 2px auto;
      }
      .select-time-order {
        width: 100%;
        padding: 2px 0;
        margin: 2px auto;
        .position-select-time-order {
          padding: 10px 5px 20px 5px;
          .chose-text {
            padding-top: 0;
          }
        }
      }
    }
    .error-no-selected {
      left: 28%;
    }
  }
}
@media all and (max-width: 500px) {
  .position-content {
    .error-no-selected {
      left: -1%;
      right: 0;
      width: 100%;
      bottom: 3px;
      .error-no-selected__text {
        padding: 10px 60px !important;
      }
    }
  }
}
@media all and (max-width: 400px) {
  .position-content {
    .select-block-time {
      .select-time-order {
        .time-order {
          position: relative;
          left: 10px;
          .position-input {
            left: -12px !important;
          }
          .error-time {
            margin: 0;
          }
        }
      }
    }
    .btn-order-time {
      width: 100%;
      margin: auto;
      padding: 6px 0;
    }
    .error-no-selected {
      width: 90%;
      margin: auto;
    }
  }
}
@media all and (max-width: 319px) {
  .position-content {
    .error-no-selected {
      .error-no-selected__text {
        padding: 10px 20px !important;
      }
    }
  }
}
