
.all-content {
  margin-right: 50px;
  margin-left: 50px;
  min-height: 40vh;
  position: relative;
  .title {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 12px;
    h3 {
      font-size: 20px;
      margin-bottom: 0;
      font-family: var(--font-coach-header);
      color: #666666;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  //-------------------- Trainers -----------------------------------//
  .coach-block {
    margin: 4px 0;
    padding: 11px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
    .trainer-block {
      width: 320px;
      height: auto;
      margin: 10px;
      position: relative;
      transition: all 0.5s ease-out;
      border-radius: 2px;
      .picture-trainer {
        width: 100%;
        height: 220px;
        overflow: hidden;
        background: var(--background-color-body-blok);
        img {
          transition: all 0.5s ease-out;
          width: 100%;
          height: 220px;
          border-radius: 2px;
        }
      }
      .bl-tol {
        background: var(--background-color-body-blok);
        margin: 4px 0;
        padding: 10px 5px 2px 5px;
        border-radius: 2px;
        .name, .surname {
          font-size: 16px;
          color: #607d8b;
          font-family: var(--fonts-coach-trainer);
          text-align: center;
          font-weight: bold;
          margin: 15px 1px;
        }
        .surname {
          text-transform: uppercase;
        }
      }
      .bl-height {
        padding: 4px 1px;
        border-radius: 2px;
        background: var(--background-color-body-blok);
        p {
          font-size: 12px;
          color: #607d8b;
          font-family: var(--fonts-coach-trainer);
          text-align: center;
          font-weight: bold;
        }
      }
      .btn-block-trainer {
        margin: 2px 0;
        background: var(--background-color-body-blok);
        border-radius: 2px;
        height: 100%;
        position: absolute;
        bottom: 0;
        width: 0;
        overflow: hidden;
        .btn-trainer {
          bottom: 0;
          position: absolute;
          width: 100%;
          .btn-text {
            min-height: 38px;
            font-size: 0;
            opacity: 0;
            transition: all 0.2s ease-in;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-500px);
          }
        }
      }
      &:hover {
        //transition: all 0.5s ease-out;
        //background-color: #f9f9f9;
        //overflow: hidden;
        .btn-block-trainer {
          transition: all 0.5s ease-out;
          width: 100%;
          height: 100%;
          background: rgba(251, 251, 251, 0.1);
          .btn-trainer {
            bottom: 0;
            position: absolute;
            width: 100%;
            cursor: pointer;
            min-height: 38px;
            .btn-text {
              background: var(--background-btn);
              -webkit-animation: showText 0.4s ease-in;
              -moz-animation: showText 0.4s ease-in;
              -o-animation: showText 0.4s ease-in;
              animation: showText 0.4s ease-in;
              font-size: 13px;
              opacity: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--color-white);
              width: 100%;
              text-align: center;
              transform: translateX(0px);
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
@keyframes showText {
  0% {
    min-height: 38px;
    transform: translateX(-500px);
    font-size: 0;
  }
  99% {
    min-height: 38px;
    transform: translateX(-500px);
    font-size: 0;
  }
  100% {
    min-height: 38px;
    font-size: 13px;
    transform: translateX(0px);
    color: var(--color-white);
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
    .all-content {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}
@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }
}
@media only screen and (max-width: 680px) {
  .wrapper {
    .all-content {
      .coach-block {
        .trainer-block {
          width: 100%;
          margin: 10px auto;
          .picture-trainer {
            height: auto;
            img {
              width: 100%;
              height: auto;
              border-radius: 1px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    margin: auto;
    .all-content {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
