<div class="wrapper">
  <div class="all-content">
    <app-loader-page-spinner *ngIf="loader"></app-loader-page-spinner>
    <div *ngIf="!loader">
      <div class="title" [@fadingAwayAnimate]>
        <h3>Тренеры</h3>
      </div>
      <div class="coach-block" [@fadingAwayAnimate]>
        <div *ngFor="let elem of trainers">
          <div class="trainer-block">
            <div class="picture-trainer">
              <img [src]="'data:image/jpg;base64,'+ elem['photo'][0]['photo']" alt="Trainings">
            </div>
            <div class="bl-tol">
              <h3 class="name">{{elem.name}}</h3>
              <h3 class="surname">{{elem.surname}}</h3>
              <div class="bl-height">
                <p>{{elem.scope}}</p>
              </div>
            </div>
            <div class="btn-block-trainer">
              <div class="btn-trainer" (click)="redirect(elem)">
                <span class="btn-text"> Подробно о тренере </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

