
.all-content {
  margin-right: 50px;
  margin-left: 50px;
  min-height: 40vh;
  position: relative;
  .title {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 12px;
    h3 {
      font-size: 20px;
      margin-bottom: 0;
      font-family: var(--font-coach-header);
      color: #666666;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  //-------------------- Trainers -----------------------------------//
  .coach-block {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .trainer-block {
      width: 320px;
      height: auto;
      margin: 10px;
      position: relative;
      transition: all 0.5s ease-out;
      border: 1px solid var(--color-border);
      border-radius: 2px;
      .picture-trainer {
        width: 100%;
        height: 220px;
        overflow: hidden;
        img {
          transition: all 0.5s ease-out;
          width: 100%;
          height: 220px;
          border-radius: 1px;
        }
      }
      .bl-tol {
        padding: 10px 5px 2px 5px;
        .name, .surname {
          font-size: 16px;
          color: #607d8b;
          font-family: var(--fonts-coach-trainer);
          text-align: center;
          font-weight: bold;
          margin: 15px 1px;
        }
        .surname {
          text-transform: uppercase;
        }
        .bl-height {
          border-top: 1px solid var(--color-border);
          margin: 0 1px;
          padding: 4px 1px;
          p {
            font-size: 12px;
            color: #607d8b;
            font-family: var(--fonts-coach-trainer);
            text-align: center;
            font-weight: bold;
          }
        }
      }
      //.btn-block-trainer {
      //  height: 0;
      //  position: absolute;
      //  bottom: 0;
      //  width: 0;
      //  overflow: hidden;
      //  transition: all 0.3s ease-in;
      //  .btn-trainer {
      //    bottom: 0;
      //    position: absolute;
      //    height: 45px;
      //    width: 100%;
      //    .btn-text {
      //      height: 45px;
      //      padding: 15px 0;
      //      font-size: 0;
      //      opacity: 0;
      //      transition: all 0.2s ease-in;
      //      display: inline-block;
      //      color: white;
      //      width: 100%;
      //      text-align: center;
      //      transform: translateX(400px);
      //    }
      //  }
      //}
      .btn-block-trainer {
        height: 100%;
        position: absolute;
        bottom: 0;
        transition: all 0.5s ease-out;
        width: 0;
        overflow: hidden;
        .btn-trainer {
          bottom: 0;
          position: absolute;
          height: 45px;
          width: 100%;
          .btn-text {
            height: 45px;
            padding: 15px 0;
            font-size: 0;
            opacity: 0;
            transition: all 0.2s ease-in;
            display: inline-block;
            color: white;
            width: 100%;
            text-align: center;
            transform: translateX(400px);
          }
        }
      }
      &:hover {
        transition: all 0.5s ease-out;
        background-color: #f9f9f9;
        box-shadow: 0 2px 12px rgba(28, 15, 25, 0.5);
        overflow: hidden;
        .picture-trainer {
          img {
            transition: all 0.7s ease-out;
            border-radius: 1px;
          }
        }
        .btn-block-trainer {
          transition: all 0.7s ease-in;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          .btn-trainer {
            bottom: 0;
            position: absolute;
            width: 100%;
            cursor: pointer;
            .btn-text {
              height: 45px;
              background: var(--background-btn);
              transition: all 0.7s ease-in;
              padding: 15px 0;
              font-size: 13px;
              opacity: 1;
              display: inline-block;
              color: white;
              width: 100%;
              text-align: center;
              transform: translateX(0px);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
    .all-content {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}
@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
  }
}
@media only screen and (max-width: 680px) {
  .wrapper {
    .all-content {
      .coach-block {
        .trainer-block {
          width: 100%;
          margin: 10px auto;
          .picture-trainer {
            height: auto;
            img {
              width: 100%;
              height: auto;
              border-radius: 1px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    margin: auto;
    .all-content {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
