<app-loader *ngIf="!loader"
            [@fadingAwayAnimate]>
</app-loader>
<div
  appScroll (numberScroll)="scrollEvent($event)"
  *ngIf="loader"
  [@fadingAwayAnimate]>
  <app-header
    [correctedHeader]="hiddenHeader"
    [ngClass]="{'visualHeader': !hiddenHeader,'hiddenHeader': hiddenHeader}">
  </app-header>
  <app-menu
    [correctedMenu]="hiddenHeader"
    [menuScrolling]="menuScrolling">
  </app-menu>
  <main>
    <router-outlet class="main-router"
                   >
    </router-outlet>
    <div class="btn-Top"
         [@fadingAwayAnimate]
         *ngIf="btnTop"
         (click)="buttonTop()">
      <i class="fas fa-long-arrow-alt-up arrow-top"></i>
    </div>
  </main>
  <app-footer></app-footer>
</div>




