
:host ::ng-deep.all-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 70px;
  min-height: 67vh;
  .header-component {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    margin-bottom: 10px;
    .name-room {
      padding: 3px 10px;
      font-family: var(--fonts-main);
      color: #355F80;
      border-radius: 2px;
      margin-bottom: 10px;
      width: 40%;
      display: flex;
      align-items: flex-end;
    }
  }
  .content-room-info {
    justify-content: center;
    width: 100%;
    .slider-block {
      background: #495057;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .slider-component {
        padding: 0;
        .slider-wrapper {
          width: 80%;
          margin: auto;
          .slider-item {
            width: 80%;
            margin: auto;
            .img-item {
              max-height: 546px;
            }
          }
        }
      }
    }
  }
  .position-description-info-room {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .text-info-room {
      width: 30%;
      height: auto;
      padding-left: 2px;
      position: relative;
      .header-room {
        display: flex;
        flex-direction: column;
        border: 1px solid #C0C0C0;
        padding: 10px 10px 15px 10px;
        margin-top: 10px;
        border-radius: 2px;
        position: sticky;
        top: 50px;
        .price-room {
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          align-items: center;
          margin: 0 auto 0 auto;
          width: 88%;
          .block-number-of-participants {
            margin: 4px 4px;
            display: flex;
            align-items: flex-end;
            .capacity {
              font-size: 13px;
              font-family: var(--fonts-main);
              color: #143E5F;
            }
            .strength {
              font-size: 13px;
              font-family: var(--fonts-main);
              color: seagreen;
              margin-left: 10px;
              border-bottom: 1px solid;
            }
          }
          .bl-room {
            padding: 2px 2px 0 2px;
            border-radius: 2px;
            text-align: center;
            color: #179918;
            table {
              float: right;
              tr {
                .name-period {
                  text-align: left;
                  font-size: 13px;
                  display: inline-block;
                }
                .cost {
                  text-align: left;
                  .dey, .time {
                    min-width: 30px;
                    font-family: var(--fonts-main);
                    font-size: 13px;
                    text-align: center;
                    display: inline-block;
                  }
                  .currency {
                    font-size: 13px;
                    width: auto;
                    text-align: left;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
        .select-period {
          display: flex;
          flex-direction: column;
          transition: all 0.3s ease-in;
          width: 88%;
          margin: auto;
          .selection-of-items {
            border-radius: 2px;
            background: #495057;
            margin: 0 0 5px 0;
            color: #FBFBFB;
            text-align: center;
            padding: 15px 10px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
              transition: all 0.3s ease-in;
              background: #3C4147;
            }
          }
          .active-btn {
            transition: all 0.3s ease-in;
            background: #495057;
            opacity: 0.8;
          }
        }
      }
    }
    .price-room-mob {
      display: none;
    }
    .description-info-room {
      width: 70%;
      .myEditor {
        .angular-editor-wrapper {
          position: relative;
          margin: 10px 10px 10px 0;
          border: 1px solid silver;
          border-radius: 2px;
          background: white;
          .angular-editor-textarea {
            margin: 2px !important;
            border: none !important;
            padding: 5px !important;
            resize: none !important;
          }
        }
      }
    }
  }
}
.stickyBlock {
  position: sticky;
  top: 50px;
  box-shadow: 0 0 2px var(--background-room-rental);
}
.fixedBlock {
  position: relative;
}
@media all and (max-width: 1300px) {
  .all-content {
    .position-description-info-room {
      .text-info-room {
        .header-room {
          .select-period {
            width: 100%;
          }
          .content-selected-period {
            width: 100%;
          }
          .price-room {
            width: 100%;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1150px) {
  .all-content {
    .header-component {
      .name-room {
        padding: 17px 10px;
        border-radius: 2px;
        margin: 0;
      }
    }
    .content-room-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .slider-component {
        width: 100%;
      }
    }
    .position-description-info-room {
      .text-info-room {
        width: 33%;
      }
      .description-info-room {
        width: 67%;
      }
    }
  }
}
@media all and (max-width: 1050px) {
  :host ::ng-deep.all-content {
    .content-room-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .slider-block {
        .slider-component {
          .slider-wrapper {
            width: 100% !important;
            .slider-item {
              width: 100% !important;
            }
          }
        }
      }
    }
    .position-description-info-room {
      flex-direction: column;
      .text-info-room {
        width: 100% !important;
        .header-room {
          position: initial;
          .select-period {
            justify-content: space-between !important;
            flex-direction: row !important;
            width: 100%;
            .selection-of-items {
              width: 100%;
              margin: 2px 2px 2px 0;
            }
            .selection-of-items {
              width: 100%;
              margin: 2px 0 2px 2px;
            }
          }
          .price-room {
            display: none;
          }
        }
      }
      .price-room-mob {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        border: 1px solid #C0C0C0;
        margin: 10px 0;
        border-radius: 2px;
        .block-number-of-participants {
          margin-top: 16px;
          .capacity {
            font-size: 13px;
            font-family: var(--fonts-main);
            color: #143E5F;
          }
          .strength {
            font-size: 13px;
            font-family: var(--fonts-main);
            color: seagreen;
            margin-left: 10px;
            border-bottom: 1px solid;
          }
        }
        .bl-room {
          padding: 2px 2px 0 2px;
          border-radius: 2px;
          text-align: center;
          color: #179918;
          table {
            float: right;
            tr {
              .name-period {
                text-align: left;
                font-size: 13px;
                display: inline-block;
              }
              .cost {
                text-align: left;
                .dey, .time {
                  min-width: 30px;
                  font-family: var(--fonts-main);
                  font-size: 13px;
                  text-align: center;
                  display: inline-block;
                }
                .currency {
                  font-size: 13px;
                  width: auto;
                  text-align: left;
                  padding-left: 5px;
                }
              }
            }
          }
        }
      }
      .description-info-room {
        width: 100% !important;
        .myEditor {
          .angular-editor-wrapper {
            margin: 0 !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .wrapper {
    max-width: 800px;
    .all-content {
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 40px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .all-content {
    .position-description-info-room {
      .text-info-room {
        .header-room {
          .select-period {
            flex-direction: column !important;
            align-items: center;
            .selection-of-items {
              width: 90%;
              .text-selection {
                font-size: 13px;
              }
            }
          }
        }
      }
      .price-room-mob {
        flex-direction: column-reverse;
        .block-number-of-participants {
          margin: 0 0 8px 0;
        }
      }
    }
  }
}
@media all and (max-width: 400px) {
  .wrapper {
    .all-content {
      margin-right: 5px !important;
      margin-left: 5px !important;
    }
  }
}
