
:host ::ng-deep.all-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 70px;
  min-height: 67vh;
  .content-room-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    .slider-component {
      width: 40%;
    }
    .text-info-room {
      width: 60%;
      height: auto;
      padding-left: 20px;
      .header-room {
        display: flex;
        flex-direction: column;
        .name-room {
          padding: 15px 10px;
          margin: 0;
          background-color: #EBEBEB;
          font-family: var(--fonts-main);
          color: #355F80;
          border-radius: 2px;
        }
        .price-room {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          .block-number-of-participants {
            margin: 5px 0;
            display: flex;
            align-items: flex-end;
            .capacity {
              font-size: 15px;
              font-family: var(--fonts-main);
              color: #143E5F;
            }
            .strength {
              font-size: 15px;
              font-family: var(--fonts-main);
              color: seagreen;
              margin-left: 10px;
              border-bottom: 1px solid;
            }
          }
          .bl-room {
            padding: 2px;
            background-color: #ebebeb;
            border-radius: 2px;
            text-align: center;
            color: #179918;
            width: 50%;
            table {
              margin: auto;
              tr {
                .name-period {
                  text-align: right;
                  font-size: 14px;
                }
                .cost {
                  text-align: left;
                  font-size: 14px;
                  .dey, .time {
                    min-width: 40px;
                    font-family: var(--fonts-main);
                    text-align: center;
                    display: inline-block;
                  }
                  .currency {
                    font-size: 14px;
                    width: auto;
                    text-align: left;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
        .select-period {
          display: flex;
          justify-content: space-around;
          transition: all 0.3s ease-in;
          .selection-of-items {
            border-radius: 2px;
            width: 49%;
            background: #92a0a2;
            margin: 2px 1px 5px 0;
            color: #FBFBFB;
            text-align: center;
            padding: 15px 10px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
              transition: all 0.3s ease-in;
              background: #718a8c;
            }
          }
          .active-btn {
            transition: all 0.3s ease-in;
            background: #2C6365;
          }
        }
      }
    }
  }
  .description-info-room {
    .myEditor {
      .angular-editor-wrapper {
        .angular-editor-textarea {
          margin: 2px !important;
          border: none !important;
          padding: 5px !important;
          resize: none !important;
        }
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .all-content {
    .content-room-info {
      .text-info-room {
        .header-room {
          .price-room {
            display: flex;
            flex-direction: column;
            .block-number-of-participants {
              text-align: center;
              margin: 0 2px 2px 2px;
              padding: 5px 5px 2px 5px;
              .capacity {
              }
              .strength {
              }
            }
            .bl-room {
              width: 99%;
              table {
                tr {
                  .name-period {
                  }
                  .cost {
                    .dey, .time {
                    }
                    .currency {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1050px) {
  .all-content {
    .content-room-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .slider-component {
        width: 100%;
        padding-bottom: 20px;
      }
      .text-info-room {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .wrapper {
    .all-content {
      .content-room-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .wrapper {
    max-width: 800px;
    .all-content {
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 40px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .all-content {
    .description-info-room {
      display: none;
    }
  }
}
@media all and (max-width: 400px) {
  .wrapper {
    .all-content {
      margin-right: 5px !important;
      margin-left: 5px !important;
      .content-room-info {
        .text-info-room {
          .header-room {
            .select-period {
              flex-direction: column;
              .selection-of-items {
                width: 90%;
                margin: 5px auto;
              }
            }
          }
        }
      }
    }
  }
}
