<div>
  <div class="wrapper">
    <footer *ngFor="let elem of user; let i=index">
      <div>
        <div class="text-down">
          <p>{{text}}</p>
        </div>
        <div class="footer">
          <div class="contact">
            <div class="email-footer">
              <p>
                <span class="massage-blue"></span>
                <span class="email-text">{{elem.email}}</span>
              </p>
            </div>
            <div class="phone-footer">
              <p>
                <span class="mob"></span>
               <span class="mob-text">{{elem.phone}}</span>
              </p>
            </div>
            <div class="skype-footer">
              <p>
                <span class="skype"></span>
                <span>{{elem.skype}}</span>
              </p>
            </div>
          </div>
          <div class="contact2">
            <div class="icon">
              <span class="facebook"></span>
              <span class="youtube-play-red"></span>
            </div>
          </div>
        </div>
        <div class="name-footer">
          <h4> {{elem.name}} {{elem.surname}}</h4>
          <p>
            <span class="marker"></span>
            <span class="marker-text">{{elem.city}} {{elem.postcode}} {{elem.city}} {{elem.street}} </span>
          </p>
        </div>
        <hr>
      </div>
    </footer>
  </div>
</div>
