.developing-page {
  .all-content {
    margin-right: 120px;
    margin-left: 120px;
    .industries {
      height: auto;
      .paragraph {
        font-family: 'KIA_KIAM', serif;
        font-weight: bold;
        font-size: 18px;
        color: #4d4d4d;
        margin: 0 10px;
        padding: 5px 0;
      }
      .description {
        text-align: justify;
        font-family: "KIA_KIAM", serif;
        font-size: 15px;
        margin: 0;
        padding-left: 15px;
        color: #565d65;
      }
    }
    //-------------------- Block Training------------------------------------------//
    .block-add-webinar {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      transition: all 0.4s ease-out;
      .webinar-info-block {
        max-width: 450px;
        height: auto;
        padding-bottom: 6px;
        margin: 20px 20px;
        box-shadow: 0 2px 2px rgba(28, 15, 25, 0.1);
        cursor: pointer;
        transition: all 0.4s ease-out;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        img {
          width: 100%;
          height: 200px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          transition: all 0.4s ease-out;
          border-bottom: 2px solid transparent;
        }
        .down-info {
          padding: 10px;
          h3 {
            color: #4d4d4d;
            font-weight: bold;
            font-family: Fira_Sans_Condensed_Light, serif;
            font-size: 20px;
            text-transform: uppercase;
          }
          .bl {
            height: 50px;
            span {
              font-size: 12px;
            }
          }
        }
        .w-count-price {
          display: flex;
          justify-content: space-between;
          margin-right: 10px;
          margin-left: 10px;
          .count {
            span {
              font-size: 12px;
              color: #3c3c3c;
            }
            .count-w {
              color: #fc575e;
              font-weight: bold;
            }
            .zero {
              color: #99393d;
              font-weight: bold;
            }
          }
          .price {
            display: flex;
            justify-content: flex-end;
            font-family: Fira_Sans_Condensed_Light, serif;
            font-weight: bold;
          }
        }
        .wb-i {
          display: flex;
          justify-content: space-between;
          margin: 10px;
          .bl-wb {
            display: flex;
            flex-direction: row;
            .date {
              span {
                font-size: 18px;
                font-family: 'Casiopea_Regular', serif;
              }
            }
            .time {
              margin-left: 10px;
            }
            .city {
              font-family: Fira_Sans_Condensed_Light, serif;
              font-weight: bold;
              color: #2d2a39;
              span {
                font-size: 12px;
              }
            }
          }
        }
        &:hover {
          transition: all 0.4s ease-in;
          background-color: #f3f3f3;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          img {
            transition: all 0.4s ease-in;
            border-bottom: 2px solid rebeccapurple;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1220px) {
  .wrapper {
    max-width: 1180px;
    .all-content {
      margin-right: 60px;
      margin-left: 60px;
      .industries {
        .paragraph {
          font-size: 20px;
        }
        .description {
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper {
    .all-content {
      .block-add-webinar {
        .webinar-info-block {
          max-width: 350px
        }
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
    .all-content {
      margin-right: 40px;
      margin-left: 40px;
      .industries {
        .paragraph {
          font-size: 18px;
        }
        .description {
          font-size: 13px;
        }
      }
      .block-add-webinar {
        .webinar-info-block {
          .down-info {
            h3 {
              font-size: 15px;
            }
            .bl {
              span {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 859px) {
  .wrapper {
    .all-content {
      .block-add-webinar {
        .webinar-info-block {
          max-width: 550px;
          margin: 18px auto;
          img {
            height: auto !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .developing-page {
    .all-content {
      .industries {
        margin-top: 20px;
        .paragraph {
        }
        .description {
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
    .all-content {
      margin-right: 20px;
      margin-left: 20px;
      .industries {
        .paragraph {
          font-size: 15px;
        }
        .description {
          font-size: 11px;
        }
      }
      .webinar-info-block {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 470px;
    .all-content {
      margin-right: 10px;
      margin-left: 10px;
      .webinar-info-block {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
