<div class="wrapper" [@fadingAwayAnimate]>
  <div *ngIf="trainers" class="block-coach-show-trainer">
    <div class="coach-header">
      <div class="btn-all-application btn-corrected"
           [routerLink]="['/trainings/coach']">
        <span class="btn-text">
          <span class="beak"></span>
          Назад
        </span>
      </div>
      <div class="white_bg">
        <div class="coach-info">
          <div class="coach-title">
            <h5>О тренере:</h5>
          </div>
          <div class="block-content">
            <div class="coach-name">
              <h5 class="name-surname-coach">{{trainers.name}} {{trainers.surname}}</h5>
            </div>
            <div class="block-content-coach">
              <div class="coach-content">
                <angular-editor id="myEditor" [(ngModel)]="trainers.description"
                                [config]="editorConfig"></angular-editor>
                <br>
              </div>
              <div class="coach-img">
                <div class="block-img-info">
                  <img [src]="'data:image/jpg;base64,'+ trainers['photo'][0]['photo']" alt="Trainings">
                  <div *ngIf="trainers.contacts[0]" class="contact-block">
                    <div class="contact-info-text">
                      <span>Контактная информация: </span>
                    </div>
                    <div class="contacts-url">
                      <span class="link" *ngIf="trainers.contacts[0].urlFacebook != null">
                        <a [href]="trainers.contacts[0].urlFacebook">
                          <span class="facebook"></span>
                        </a>
                      </span>
                      <span class="link" *ngIf="trainers.contacts[0].urlLinkedin != null">
                        <a [href]="trainers.contacts[0].urlLinkedin">
                          <span class="linkedin"></span>
                        </a>
                      </span>
                    </div>
                    <div class="contact-address">
                      <span class="link-address" *ngIf="trainers.contacts[0].email != null">
                        <a [href]="'mailto:'+trainers.contacts[0].email">
                          <span class="email"></span>
                          <span class="text"> {{trainers.contacts[0].email}}</span>
                        </a>
                      </span>
                      <span class="link-address" *ngIf="trainers.contacts[0].skype != null">
                        <a>
                         <span class="skype"></span>
                         <span class="text"> {{trainers.contacts[0].skype}}</span>
                        </a>
                      </span>
                      <hr>
                    </div>
                  </div>
                  <div class="btn-or">
                    <div class="btn-all-application" [routerLink]="['/trainings-order', idCoach]">
                      <span class="btn-text">Заказть корпоративный тренинг</span>
                    </div>
                  </div>
                </div>
                <div class="training-coach" *ngIf="trainers.trainerTrainings">
                  <span class="title-training">Трененги тренера:</span>
                  <ul class="name-trainings" *ngFor="let elem of trainers.trainerTrainings">
                    <li class="name-trainings__text"> {{elem.name}}</li>
                  </ul>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="coach-img-mob">
          <div class="coach-img">
            <div class="block-img-info">
              <img [src]="'data:image/jpg;base64,'+ trainers['photo'][0]['photo']" alt="Trainings">
              <div *ngIf="trainers.contacts[0]" class="contact-block">
                <div class="contact-info-text">
                  <span>Контактная информация: </span>
                </div>
                <div class="contacts-url">
                      <span class="link" *ngIf="trainers.contacts[0].urlFacebook != null">
                        <a [href]="trainers.contacts[0].urlFacebook">
                          <span class="facebook"></span>
                        </a>
                      </span>
                  <span class="link" *ngIf="trainers.contacts[0].urlLinkedin != null">
                        <a [href]="trainers.contacts[0].urlLinkedin">
                          <span class="linkedin"></span>
                        </a>
                      </span>
                </div>
                <div class="contact-address">
                      <span class="link-address" *ngIf="trainers.contacts[0].email != null">
                        <a [href]="'mailto:'+trainers.contacts[0].email">
                          <span class="email"></span>
                          <span class="text"> {{trainers.contacts[0].email}}</span>
                        </a>
                      </span>
                  <span class="link-address" *ngIf="trainers.contacts[0].skype != null">
                        <a>
                         <span class="skype"></span>
                         <span class="text"> {{trainers.contacts[0].skype}}</span>
                        </a>
                      </span>
                  <hr>
                </div>
              </div>
              <div class="btn-or">
                <div class="btn-all-application" [routerLink]="['/trainings-order', idCoach]">
                  <span class="btn-text">Заказть корпоративный тренинг</span>
                </div>
              </div>
            </div>
            <div class="training-coach">
              <span class="title-training">Трененги тренера:</span>
              <ul class="name-trainings" *ngFor="let elem of trainers.trainerTrainings">
                <li class="name-trainings__text"> {{elem.name}}</li>
              </ul>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
