::ng-deep.smallSpinner {
  .overlay {
    width: 99.6% !important;
    border-radius: 2px;
    top: -1px !important;
    height: 99% !important;
    border: 1px solid #E4E4E4 !important;
    z-index: 10000000 !important;
  }
}
