
.all-content {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 70px;
  min-height: 69vh;
  .block-order-room {
    display: flex;
    flex-direction: row;
    .bl-info {
      width: 30%;
      margin: 10px;
      padding: 15px;
      border: 1px solid #80A0A2;
      border-radius: 2px;
      .time-room, .day-room {
        font-size: 13px;
        .order-info-text {
          margin: 3px;
          padding: 12px 4px;
          border-bottom: 1px solid #80A0A2;
          &__icon-info {
            &:before {
              color: #415152;
              font-size: 16px;
              position: relative;
              top: -1px;
              left: 2px;
            }
          }
          &__text {
            font-family: var(--fonts-main);
            font-size: 16px;
            padding-left: 20px;
            color: #80A0A2;
          }
        }
        .block-time-start {
          margin: 3px;
          padding: 15px 5px 5px 5px;
          &__calendar-icon {
            &:before {
              color: #415152;
            }
          }
          &__text {
            padding-left: 14px;
            color: #80A0A2;
          }
          &__date {
            color: #144e22;
            padding-right: 4px;
            float: right;
            font-size: 14px;
            font-family: Exo2ExtraBoldItalic, serif;
            text-decoration: underline;
          }
        }
        .block-time-end {
          margin: 3px;
          padding: 15px 5px 10px 5px;
          &__calendar-icon {
            &:before {
              color: #415152;
            }
          }
          &__text {
            padding-left: 14px;
            color: #80A0A2;
          }
          &__date {
            color: #144e22;
            padding-right: 4px;
            float: right;
            font-size: 14px;
            font-family: Exo2ExtraBoldItalic, serif;
            text-decoration: underline;
          }
        }
        .block-order-list-time {
          color: #334A4D;
          margin: 3px;
          padding: 5px;
          &__icon-clock {
            &:before {
              color: #415152;
            }
          }
          &__text {
            color: #80A0A2;
            padding-left: 8px;
          }
          &__show-block, &__show-block-day {
            height: 228px;
            padding: 25px 5px;
            .time-show {
              padding: 1px;
              text-align: center;
              .time-show-start, .time-show-end {
                width: 50px;
                display: inline-block;
                font-size: 13px;
                background: #EBEBEB;
                color: #415152;
                padding: 3px 3px 3px 5px;
              }
              .time-show-start {
                text-align: right;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
              }
              .time-show-end {
                text-align: left;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
              }
            }
          }
          &__show-block-day {
            height: 186px;
          }
        }
        .block-price {
          margin: 3px;
          padding: 15px 5px 5px 5px;
          border-top: 1px solid #80A0A2;
          .block-price-descriptions {
            &__icon-currency {
              &:before {
                color: #415152;
              }
            }
            &__text {
              color: #80A0A2;
              font-size: 15px;
              padding-left: 8px;
            }
            &__currency {
              color: #80A0A2;
              font-size: 15px;
            }
          }
          .prise-order {
            width: 120px;
            background: #EBEBEB;
            padding: 10px;
            display: flex;
            justify-content: center;
            float: right;
            border-radius: 2px;
            &__icons-hopping-cart {
              &:before {
                color: #179918;
                position: relative;
                top: -1px;
                left: -9px;
                font-size: 16px;
              }
            }
            &__prise {
              font-size: 14px;
              color: #144E22;
              padding-left: 5px;
              font-weight: bold;
            }
            &__currency {
              font-size: 14px;
              padding-left: 5px;
              font-weight: bold;
              color: #144E22;
            }
          }
        }
      }
    }
    .info-client {
      width: 70%;
      margin: 10px;
      padding: 15px 15px 5px 15px;
      border: 1px solid #80A0A2;
      border-radius: 2px;
      position: relative;
      .form-order-banner {
        top: -22px;
        padding: 5px 10px;
        color: #80A0A2;
        font-size: 17px;
        display: inline-block;
        position: absolute;
        z-index: 6;
        background: #FBFBFB;
        left: 33px;
      }
      .back-to-form {
        position: absolute;
        bottom: 10px;
        left: 10px;
        cursor: pointer;
        &__text {
          color: #80A0A2;
          font-size: 12px;
          text-decoration: underline;
          transition: all 0.2s ease-out;
        }
        &:hover {
          .back-to-form__text {
            transition: all 0.2s ease-in;
            color: #144e22;
          }
        }
      }
      .alert-warning {
        text-align: center;
        background: #EBEBEB;
        padding: 15px;
        border-radius: 2px;
        &__text {
          color: #F3ADAD;
          font-size: 15px;
        }
      }
      .btn-payment {
        width: 35%;
        margin: auto;
        .liqPay-btn-payment {
          border: 1px solid #80A0A2;
          border-radius: 2px;
          padding: 10px;
          cursor: pointer;
          transition: all 0.3s ease-out;
          margin: 3px;
          img {
            width: 100%;
            background-size: cover;
          }
          &:hover {
            transition: all 0.3s ease-in;
            border: 1px solid #80A0A2;
            box-shadow: 0 0 5px #80A0A2;
          }
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        padding: 37px 20px 10px 20px;
        // ___style input______
        .input-filed, .input-position {
          display: inline-block;
          vertical-align: top;
          position: relative;
          margin: 8px auto;
          width: 100%;
          .form-input {
            width: 90%;
            padding: 5px 15px;
            border: 1px solid #80A0A2;
            height: 25px;
            border-radius: 2px;
            outline: 0;
            transition: all 0.2s ease-out;
            margin: auto;
            display: flex;
            color: #80A0A2;
            font-size: 13px;
          }
          .textarea {
            height: 70px;
          }
          .form-label {
            position: absolute;
            pointer-events: none;
            top: 12px;
            left: 30px;
            transition: all 0.2s ease-out;
            z-index: 100;
            color: #80A0A2;
            font-size: 13px;
            display: flex;
            .number {
              transition: all 0.2s ease-out;
              display: none;
            }
          }
          .form-input:focus ~ .form-label {
            top: -25px;
            left: 30px;
            padding: 4px 0;
            font-size: 13px;
            color: #008B8B;
            transition: all 0.2s ease-in;
            .number {
              transition: all 0.2s ease-in;
              display: block;
              padding-left: 10px;
            }
          }
          .form-input:not(:focus):valid ~ .form-label {
            top: -25px;
            left: 30px;
            padding: 4px 0;
            font-size: 13px;
            color: #008B8B;
            transition: all 0.2s ease-out;
            .number {
              display: none;
            }
          }
          .error-input {
            min-height: 20px;
            display: flex;
            max-width: 90%;
            padding: 10px;
            margin: -8px auto 0 auto;
            span {
              color: #a01809;
              font-size: 12px;
              font-style: italic;
            }
          }
        }
        .btn-block-by-room {
          display: inline-block;
          vertical-align: top;
          position: relative;
          margin: 4px auto 0px auto;
          width: 95%;
          text-align: end;
          .by-room-btn {
            padding: 8px 12px;
            background: #EBEBEB;
            border-radius: 2px;
            transition: all 0.2s ease-out;
            cursor: pointer;
            border: none;
            //border: 1px solid silver;
            &__text {
              transition: all 0.25s ease-out;
              font-size: 14px;
              color: #144E22;
              //font-weight: bold;
              font-weight: normal;
            }
            &:hover {
              transition: all 0.2s ease-in;
              background: #B5B5B5;
              .by-room-btn__text {
                color: #EBEBEB;
                transition: all 0.25s ease-in;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
    .info-client-time-exist, .info-client-time-exist-payment {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.invalid {
  border: 1px solid #F3ADAD !important;
  transition: all .4s ease-in;
  box-shadow: 0 0 2px #F3CECE;
}
.ngValid {
  border: 1px solid #97C1E1 !important;
  transition: all .4s ease-in;
}
@media all and (max-width: 1300px) {
  .all-content {
    margin-right: 60px;
    margin-left: 60px;
  }
}
@media all and (max-width: 1000px) {
  .all-content {
    margin-right: 20px;
    margin-left: 20px;
    .block-order-room {
      .bl-info {
        width: 45%;
      }
      .info-client {
        width: 65%;
        .btn-payment {
          width: 50%;
        }
      }
    }
  }
}
@media all and (max-width: 800px) {
  .all-content {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    .info-client {
      .form-order-banner {
        top: -26px !important;
        left: 21px !important;
      }
    }
  }
}
@media all and (max-width: 700px) {
  .all-content {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
    .block-order-room {
      .bl-info {
        width: 50%;
      }
      .info-client {
        width: 50%;
      }
    }
  }
}
@media all and (max-width: 662px) {
  .all-content {
    .block-order-room {
      flex-direction: column;
      align-items: center;
      .bl-info {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 90%;
        .time-room, .day-room {
          .block-order-list-time {
            &__show-block, &__show-block-day {
              height: auto;
            }
          }
        }
      }
      .info-client {
        width: 90%;
        margin-top: -11px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .form-order-banner {
          top: -350px !important;
        }
        .form {
          padding: 6px 0;
        }
      }
      .info-client-time-exist {
        padding: 15px 15px 44px 15px;
      }
    }
  }
}










