<div class="wrapper">
  <div class="all-content" [@fadingAwayAnimate]>
    <div class="btn-corrected" appBackLink>
      <i class="fas fa-chevron-left"></i>
      <span class="btn-text">Назад</span>
    </div>
    <div class="content-order-status">
      <div class="alert alert-primary" role="alert"
           *ngIf="messageStatus === 'sandbox'"
           [@fadingAwayAnimate]>
        <strong class="massage-text">Тестовый платеж ! </strong>
      </div>
      <div class="alert alert-success" role="alert"
           [@fadingAwayAnimate]
           *ngIf="messageStatus === 'success'">
        <strong class="massage-text"> Успешный платеж </strong>
      </div>
      <div class="alert alert-danger" role="alert"
           [@fadingAwayAnimate]
           *ngIf="messageStatus === 'error'">
        <strong class="massage-text"> Неуспешный платеж. Некорректно заполнены данные </strong>
      </div>
      <div class="alert alert-warning" role="alert"
           [@fadingAwayAnimate]
           *ngIf="messageStatus === 'failure'">
        <strong class="massage-text"> Неуспешный платеж. </strong>
      </div>
    </div>
  </div>
</div>
