.block-selected-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--background-main-aplication);
  border-radius: 6px;
  width: 100%;
  .content-input {
    position: relative;
    border-radius: 2px;
    width: 100%;
    margin: auto;
    .input-group {
      padding: 2px 1px 3px 1px;
      width: 92.4%;
      margin: auto;
      .position-element-input {
        display: flex;
        justify-content: space-between;
        margin: 20px 10px 0 10px;
        .form-control {
          width: 86%;
          height: 38px;
          background: var(--background-main-aplication);
          border-bottom: 1px solid var(--background-room-rental);
          padding: 1px 4px;
          font-size: 27px;
          color: var(--header-color-text);
          //border-top-left-radius: 2px;
          //border-bottom-left-radius: 2px;
          transition: all 0.5s ease-in-out;
          &::placeholder {
            font-size: 15px;
          }
        }
        //.invalid {
        //  transition: all 0.5s ease-in;
        //  border: 1px solid #FFA288 !important;
        //}
        .text-label {
          padding-top: 10px;
          font-size: 15px;
          color: #949494;
          transition: all 0.5s ease-in-out;
        }
        //.invalid__text {
        //  transition: all 0.5s ease-in;
        //  color: #FFA288 !important;
        //}
        .btn-block-calendar {
          .btn-calendar {
            background: var(--background-main-aplication);
            width: 100%;
            height: 41px;
            border: none;
            border-bottom: 1px solid var(--background-room-rental);
            //border-top-right-radius: 2px;
            //border-bottom-right-radius: 2px;
            padding: 10px 8px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            .calendar-icon {
              &:before {
                transition: all 0.4s ease-out;
                color: var(--background-room-rental);
                font-size: 31px;
                position: relative;
                top: -7px;
                left: 0;
              }
            }
            &:hover {
              transition: all 0.3s ease-in;
              //border: 1px solid silver;
              background-color: #eaeaea;
            }
          }
        }
      }
    }
  }
  .content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
    margin-top: 22px;
    flex-direction: column;
    .selected-period-visualisation {
      padding: 6px 2px;
      border: 1px solid transparent;
      p {
        min-height: 18px;
        color: var(--color-room-rental);
        margin: 1px;
        padding: 4px;
        transition: all 0.4s ease-in-out;
        position: relative;
        ::ng-deep .loader-text {
          .smallSpinner {
            .overlay {
              background: transparent !important;
              border: 1px solid transparent !important;
            }
          }
        }
        .name {
          width: 103px;
          text-align: left;
          display: inline-block;
          font-size: 13px;
        }
        .data-period {
          width: 80px;
          padding-left: 5px;
          display: inline-block;
          font-size: 13px;
          text-align: center;
        }
        .time-period {
          width: 76px;
          text-align: left;
          padding-left: 5px;
          display: inline-block;
          font-size: 13px;
        }
      }
      //.hidden-block {
      //  opacity: 0;
      //}
      .errorData {
        transition: all 0.4s ease-in;
        background: #FFA288;
        border-radius: 2px;
        color: white;
      }
      .errorDataLoader {
        transition: all 0s ease-in;
        background: transparent !important;
      }
    }
    .block-error {
      min-height: 40px;
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .btn-order-day {
        .btn-go-order {
          padding: 7px 40px;
          border: 1px solid var(--background-room-rental);
          border-radius: 2px;
          cursor: pointer;
          background: var(--background-main-aplication);
          position: relative;
          &__text {
            color: var(--background-room-rental);
            font-size: 13px;
          }
          &__icon {
            &:before {
              font-size: 13px;
              color: #2C6365;
              top: 12px;
              right: 19px;
              position: absolute;
            }
          }
        }
        &:hover {
          .btn-go-order {
            transition: all .3s ease-in;
            background-color: var(--background-room-rental);
            opacity: 0.7;
            &__text {
              transition: all .3s ease-in;
              color: white;
            }
            &__icon {
              &:before {
                transition: all .3s ease-in;
                color: white;
              }
            }
          }
        }
      }
      .error-item {
        background: #EBEBEB;
        padding: 10px;
        border-radius: 2px;
        text-align: center;
        span {
          color: #FFA288;
          font-size: 13px;
        }
        .err-data {
          font-size: 13px;
        }
      }
    }
  }
}
.validated {
  transition: all 0.4s ease-in;
  border: 1px solid var(--background-room-rental) !important;
  position: relative;
  border-radius: 3px;
}
.cool-icon {
  position: absolute;
  transition: all 0.2s ease-in;
  &:before {
    transition: all 0.2s ease-in;
    position: relative;
    background: var(--background-main-aplication);
    top: -18px;
    left: 119px;
    font-size: 17px;
    color: #495057;
    padding: 2px 10px;
  }
}
input:disabled, button:disabled {
  background: #EBEBEB !important;
  border: 1px solid white !important;
}
// ___style input______
.input-position {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 20px;
  .form-input {
    padding: 5px 15px;
    border: none;
    outline: 0 !important;
    transition: all 0.2s ease-out;
  }
  .form-label {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 4px;
    transition: all 0.2s ease-out;
    z-index: 100;
    color: #FBFBFB;
  }
  .form-input:read-only ~ .form-label {
    top: -33px;
    left: 5px;
    padding: 4px 0;
    font-size: 12px;
    color: #008B8B !important;
    transition: all 0.2s ease-in;
  }
  .form-input:valid ~ .form-label {
    top: -33px !important;
    left: 5px;
    padding: 4px 0;
    font-size: 12px;
    color: #008B8B !important;
    transition: all 0.2s ease-in;
  }
  .form-input:not(:read-only):valid ~ .form-label {
    top: -33px !important;
    left: 5px;
    padding: 4px 0;
    font-size: 14px;
    color: #008B8B !important;
    transition: all 0.2s ease-out;
  }
}
//_____________ style calendar_____________________
::ng-deep.show {
  top: -44px !important;
  left: -2px !important;
  right: 47px !important;
  margin: auto !important;
  background: #FBFBFB;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  width: 100%;
  z-index: 200;
  .ngb-dp-header {
    width: 80% !important;
    margin: 20px auto !important;
    .ng-star-inserted {
      .ngb-dp-arrow {
        .ngb-dp-navigation-chevron {
          color: green;
        }
      }
      .ngb-dp-navigation-select {
        .custom-select {
          border-radius: 2px !important;
          border: 1px solid var(--color-border) !important;
          margin-left: 4px !important;
          color: cadetblue !important;
        }
      }
    }
  }
  .ngb-dp-months {
    justify-content: space-evenly;
    ngb-datepicker-month-view {
      .ngb-dp-week, .ngb-dp-weekdays, .ng-star-inserted {
        border-bottom: none;
        .ngb-dp-weekday, .small, .ng-star-inserted {
          background: var(--background-main-aplication);
          color: var(--color-input-text);
          border-radius: 0;
          //border-bottom: 1px solid var(--color-border);
        }
        .ngb-dp-today {
          .btn-light {
            color: var(--color-white) !important;
            background: var(--background-btn-text) !important;
            border-radius: 2px !important;
          }
        }
        .ngb-dp-day {
          .btn-light {
            color: var(--background-btn);
          }
        }
      }
      .ng-star-inserted {
        color: var(--color-input-text);
      }
    }
  }
}
@media all and (max-width: 1300px) {
  .block-selected-content {
    .content-input {
      width: 100%;
    }
  }
}
@media all and (max-width: 1050px) {
  .block-selected-content {
    flex-direction: row-reverse;
    .content-input {
      position: relative;
      border-radius: 2px;
      width: 50%;
      margin: 0 0 0 2px;
    }
    .content-info {
      width: 50%;
      margin: 28px 2px 0 0;
    }
  }
}
@media all and (max-width: 650px) {
  .block-selected-content {
    flex-direction: column;
    .content-input {
      width: 100%;
      margin: 0;
      .input-group {
        padding: 2px 1px 5px 1px;
      }
      .block-error {
        .error-item {
        }
      }
    }
    .content-info {
      width: 100%;
      margin: 2px 0 0 0;
      .selected-period-visualisation {
        margin: 12px 0 0 0;
      }
    }
  }
}
