<div class="block-selected-content" [@fadingAwayAnimate]>
  <div class="content-input">
    <app-loader-small-spinner-btn *ngIf="loaderComponent"></app-loader-small-spinner-btn>
    <div class="input-group">
      <div class="position-element-input input-position">
        <input class="form-control form-input" [(ngModel)]="dateStart"
               required (ngModelChange)="selectDataCalendarStart(dateStart)"
               readonly
               placeholder="Первый день"
               ngbDatepicker
               #beginningOfPeriod="ngbDatepicker">
        <div class="btn-block-calendar">
          <button class="btn-calendar"
                  type="button"
                  (click)="beginningOfPeriod.toggle()">
            <i class="far fa-calendar-alt calendar-icon"></i></button>
        </div>
      </div>
    </div>
    <div class="input-group" *ngIf="!disabledEndDate" [@fadingAwayAnimate]>
      <div class="position-element-input input-position">
        <input class="form-control form-input" [(ngModel)]="dateEnd"
               required (ngModelChange)="selectDataCalendarEnd(dateEnd)"
               [disabled]="disabledEndDate"
               readonly
               placeholder="Последний день"
               ngbDatepicker
               #endOfPeriod="ngbDatepicker">
        <div class="btn-block-calendar">
          <button class="btn-calendar"
                  type="button"
                  [disabled]="disabledEndDate"
                  (click)="endOfPeriod.toggle()">
            <i class="far fa-calendar-alt calendar-icon"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-info" *ngIf="dateStart || dateEnd">
    <div class="selected-period-visualisation"
         [ngClass]="{'validated': btnNext  && !loaderComponent}">
      <i class="far fa-thumbs-up cool-icon" [@fadingAwayAnimate]
         *ngIf="btnNext && !loaderComponent "></i>
      <p class="selected-period-visualisation__start"
         [ngClass]="{'errorData': errorStartData, 'errorDataLoader': loaderComponent}">
        <app-loader-small-spinner-btn class="loader-text" *ngIf="loaderComponent"></app-loader-small-spinner-btn>
        <span *ngIf="!loaderComponent">
           <span class="name" [@fadingAwayAnimate]
                 *ngIf="dateStart">Первый день: </span>
           <span class="data-period" [@fadingAwayAnimate]
                 [ngClass]="{'errorData': wrongDateSelected}"
                 *ngIf="dateStart">{{visibleDataStart | date:'yyyy/LL/dd'}}</span>
           <span class="time-period" [@fadingAwayAnimate]
                 *ngIf="dateStart">10:00 - 19:00</span>
        </span>
      </p>
      <p class="selected-period-visualisation__end"
         [ngClass]="{'errorData': errorEndData, 'errorDataLoader': loaderComponent}">
        <app-loader-small-spinner-btn class="loader-text" *ngIf="loaderComponent"></app-loader-small-spinner-btn>
        <span *ngIf="!loaderComponent">
             <span class="name" [@fadingAwayAnimate]
                   *ngIf="dateEnd">Последний день:
             </span>
             <span class="data-period" [@fadingAwayAnimate]
                   [ngClass]="{'errorData': wrongDateSelected}"
                   *ngIf="dateEnd">
             <span>{{visibleDataEnd | date:'yyyy/LL/dd'}}</span></span>
             <span class="time-period" [@fadingAwayAnimate]
                   *ngIf="dateEnd">10:00 - 19:00</span>
        </span>
      </p>
    </div>
    <div class="block-error">
      <div class="btn-order-day"
           (click)="nextOnOrder()"
           *ngIf="btnNext && !loaderComponent" [@showAnimate]>
        <button class="btn-go-order">
          <span class="btn-go-order__text">Далее</span>
          <i class="fas fa-long-arrow-alt-right btn-go-order__icon"></i>
        </button>
      </div>
      <div class="error-item" *ngIf="errorStartData && !loaderComponent" [@showAnimate]>
        <span class="err-data"> Указаная дата не свободна для выбора </span>
      </div>
      <div class="error-item" *ngIf="errorEndData  && !loaderComponent" [@showAnimate]>
        <span class="err-data">В указанный вами период даты заняты</span>
      </div>
      <div class="error-item" *ngIf="wrongDateSelected" [@showAnimate]>
        <span class="err-data"> Неправильно выбрана дата</span>
      </div>
    </div>
  </div>
</div>


