
.wrapper {
  .all-content-order {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    min-height: 75vh;
    position: relative !important;
    .coach-header {
      max-width: 100%;
      margin: 0 auto;
      transition: all linear 0.3s;
      box-sizing: border-box;
      .btn-corrected {
        position: fixed;
        top: 70px;
        left: 5px;
        transition: all .3s ease-out;
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid transparent;
        padding: 5px 15px;
        .fa-chevron-left {
          font-size: 12px;
          color: white;
          &:before {
            position: relative;
            top: -1px;
            left: -8px;
          }
        }
        .btn-text {
          position: relative;
          top: -1px;
          left: 3px;
          font-size: 12px;
          color: white;
        }
        &:hover {
          transition: all .3s ease-in;
          background: rgba(0, 0, 0, 0.6);
        }
      }
      .white_bg {
        background-color: white;
        padding: 20px;
        margin-top: 94px;
        .content-order {
          .alert-order-success {
            max-width: 83%;
            height: 54vh;
            padding: 20px 20px 20px 20px;
            border-radius: 2px;
            background-color: #F2F3F4;
            color: #67575A;
            box-shadow: 0 0 16px silver;
            border: 1px solid silver;
            display: flex;
            align-items: center;
            margin: auto;
            p {
              text-align: center;
              width: 100%;
              font-size: 18px;
              font-family: var(--font-order);
            }
          }
          .order-checkout {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-top: 20px;
            .text-checkout {
              width: 100%;
              h1 {
                font-family: var(--font-order-checkout);
                margin: 30px;
                text-align: center;
                font-size: 20px;
                color: #909B8E;
                font-weight: bold;
              }
            }
            .toggle-trainer {
              max-width: 120px;
              padding: 2px 5px;
              .btn-text {
                font-size: 10px;
                padding: 2px;
                position: relative;
                top: -1px;
              }
            }
            .form {
              .contact-checkout {
                display: flex;
                justify-content: flex-start;
                .trainer-checkout {
                  width: 60%;
                  padding: 0 3%;
                  color: #909B8E;
                  //.trainer-visualisation {
                  //  display: flex;
                  //  flex-direction: column;
                  //  margin: 60px 10px 10px 10px;
                  //
                  //  .block-photo-trainer {
                  //    width: 350px;
                  //
                  //    .img {
                  //      max-width: 350px;
                  //      background-size: cover;
                  //    }
                  //  }
                  //
                  //  .block-description-trainer {
                  //    .trainer-description {
                  //      font-weight: bold;
                  //      color: #909B8E;
                  //
                  //      span {
                  //        display: inline-block;
                  //        font-size: 13px;
                  //      }
                  //    }
                  //  }
                  //}
                  .list-visualisation-trainers {
                    .header-text-block-checkout {
                      text-align: center;
                      font-size: 20px;
                      margin-top: 0;
                    }
                    .position-content-checkout {
                      display: flex;
                      justify-content: space-between;
                      div {
                        max-width: 200px;
                      }
                      .selectCoach {
                        max-width: 100%;
                        .container {
                          font-family: var(--font-order);
                          display: block;
                          position: relative;
                          cursor: pointer;
                          font-size: 12px;
                          padding: 5px 6px 5px 27px;
                          -webkit-user-select: none;
                          -moz-user-select: none;
                          -ms-user-select: none;
                          user-select: none;
                          transition: all 0.5s;
                          &:hover {
                            transition: all 0.5s;
                            background: #F3F3F3;
                            color: #147d67;
                          }
                        }
                        input {
                          position: absolute;
                          opacity: 0;
                          cursor: pointer;
                          height: 0;
                          width: 0;
                          ~ .checkmark {
                            background-color: #BABABA;
                            border-radius: 2px;
                            transition: all 0.5s ease-in;
                          }
                          &:checked {
                            ~ .checkmark {
                              transition: all 0.5s ease-in;
                              background-color: #147d67;
                              border: 1px solid silver;
                            }
                          }
                          &:checked {
                            ~ .checkmark:after {
                              display: block;
                              top: 0;
                              left: 4px;
                              transform: scale(.7) rotate(45deg);
                            }
                            .container {
                              color: red;
                            }
                          }
                        }
                        .checkmark {
                          border: 1px solid #147d67;
                          position: absolute;
                          width: 15px;
                          height: 15px;
                          top: 9px;
                          left: 3px;
                          margin-top: -6px;
                          &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 11px;
                            top: 7px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                          }
                        }
                        .noChecked {
                          background: #515EDD;
                        }
                        .noChecked {
                          background: red;
                        }
                      }
                      .block-selected-photo {
                        max-width: 250px;
                        height: 200px;
                        .img {
                          width: 250px;
                          height: 200px;
                          background-size: cover;
                        }
                        .btn-detail-trainer {
                          padding: 3px 11px;
                          border: 1px solid silver;
                          max-width: 100%;
                          display: block;
                          text-align: center;
                          font-size: 12px;
                          cursor: pointer;
                          transition: all 0.4s ease-out;
                          &:hover {
                            transition: all 0.4s ease-in;
                            background: rgba(0, 0, 0, 0.3);
                            color: white;
                          }
                        }
                      }
                    }
                    .description-choice {
                      width: 100%;
                      p {
                        text-align: left;
                        font-size: 12px;
                        color: #515EDD;
                        font-family: var(--font-order-description-choice);
                      }
                    }
                  }
                }
                .calendar-checkout {
                  width: 40%;
                  border-radius: 5px;
                  text-align: center;
                  p {
                    color: #909B8E;
                    font-size: 18px;
                    text-align: center;
                    margin: 10px;
                  }
                  .block-order-group {
                    display: flex;
                    flex-direction: column;
                    margin-top: 14px;
                    .input-group {
                      width: 90%;
                      margin: 5px auto;
                      display: flex;
                      input {
                        height: 39px;
                        border-radius: 1px;
                        border: 1px solid #949494;
                        text-indent: 0.2em;
                        font-size: 13px;
                        width: 100%;
                      }
                      .input-group-append {
                        .calendar {
                          height: 43px;
                          .calendar-icon {
                          }
                        }
                      }
                    }
                    .error-input {
                      display: flex;
                      max-width: 90%;
                      margin: -8px 0 0 95px;
                      span {
                        color: #a01809;
                        font-size: 12px;
                        font-family: var(--font-order);
                        font-weight: bold;
                      }
                    }
                    select {
                      width: 90%;
                      height: 35px;
                      border-radius: 1px;
                      text-indent: 0.6em;
                      border: 1px solid #949494;
                      margin: 5px auto;
                      font-family: var(--font-order);
                      font-size: 13px;
                      color: #7a7a7a;
                      .select-input {
                      }
                    }
                    .label-training {
                      display: flex;
                      width: 90%;
                      margin: 0 auto;
                      p {
                        font-size: 10px;
                        margin: 0;
                      }
                    }
                    .input {
                      width: 90%;
                      height: 35px;
                      border-radius: 1px;
                      border: 1px solid #949494;
                      text-indent: 0.9em;
                      font-size: 13px;
                      margin: 5px auto;
                    }
                    .textarea-form {
                      width: 90%;
                      height: 135px;
                      border-radius: 1px;
                      border: 1px solid #949494;
                      text-indent: 0.8em;
                      margin: 5px auto;
                      font-size: 13px;
                    }
                  }
                  .btn-order {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    .btn-ok {
                      transition: all 0.5s ease-out;
                      width: 91%;
                      height: 45px;
                      border-radius: 1px;
                      border: 0;
                      margin: 5px auto;
                      font-size: 15px;
                      background-color: #6e6e6e;
                      color: white;
                      font-family: var(--font-order);
                      &:hover {
                        transition: all 0.5s ease-in;
                        background-color: #3c3c3c;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.data-input {
  padding: 0 20px;
  width: 33%;
}
.calendar-checkout {
  margin-top: -2px;
  position: relative;
  min-height: 694px;
}
::ng-deep.dropdown-menu {
  background: #E4E4E4;
  border: 1px solid silver;
  box-shadow: 0 0 2px black;
  border-radius: 1px;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1180px;
    .all-content-order {
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}
@media only screen and (max-width: 980px) {
  .wrapper {
    max-width: 970px;
    .all-content-order {
      margin-right: 10px;
      margin-left: 10px;
      .selectCoach {
        .container {
          padding-left: 15%;
          font-size: 11px;
        }
      }
      .description-choice {
        p {
          text-align: center !important;
        }
      }
    }
  }
  .calendar-checkout {
    .block-order-group {
      .input-group {
        width: 80%;
        margin: 10px 10px 10px 55px;
      }
      select {
        margin: 10px 10px 10px 55px;
      }
      .label-training {
        margin: -10px 0 0 55px;
        p {
          font-size: 10px;
          margin: 0 !important;
        }
      }
      .input {
        margin: 10px 10px 10px 55px;
      }
      .error-input {
        width: 70%;
        margin: -8px 0 0 65px;
      }
      .textarea-form {
        margin: 10px 10px 10px 55px;
      }
    }
    .btn-ok {
      margin: 10px 10px 10px 55px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .all-content-order {
    margin-top: 0 !important;
    .btn-corrected {
      top: 6px !important;
    }
    .white_bg {
      margin-top: 35px !important;
      .content-order {
        .order-checkout {
          .form {
            .contact-checkout {
              .trainer-checkout {
                .list-visualisation-trainers {
                  .position-content-checkout {
                    .block-selected-photo {
                      max-width: 150px !important;
                      height: 100px !important;
                      .img {
                        width: 150px !important;
                        height: 100px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 760px;
    .all-content-order {
      .coach-header {
        .white_bg {
          padding: 5px;
          .content-order {
            .alert-order-success {
              p {
                font-size: 15px;
              }
            }
            .order-checkout {
              .text-checkout {
                h1 {
                  font-size: 20px;
                  margin: 5px;
                }
              }
              .form {
                .contact-checkout {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .trainer-checkout {
                    width: 100%;
                    p {
                      font-size: 18px;
                      margin: 5px;
                    }
                    //.trainer-visualisation {
                    //  margin: 10px;
                    //  flex-direction: column;
                    //  align-items: center;
                    //
                    //  .block-photo-trainer {
                    //    width: 250px;
                    //    .img {
                    //      width: 250px;
                    //    }
                    //  }
                    //
                    //  .block-description-trainer {
                    //    .trainer-description {
                    //
                    //      span {
                    //
                    //      }
                    //    }
                    //  }
                    //}
                    .position-content-checkout {
                      display: flex;
                      margin: auto;
                      div {
                        margin: 0 auto;
                      }
                    }
                    .description-choice {
                      p {
                        text-align: center;
                      }
                    }
                  }
                  .calendar-checkout {
                    width: 100%;
                    margin: 5px;
                    p {
                      font-size: 20px;
                      margin: 10px 5px;
                    }
                    .block-order-group {
                      margin: 5px;
                      align-items: center;
                      .input-group {
                        width: 80%;
                        .form-control {
                          margin: 0 !important;
                        }
                        .input-group-append {
                          .calendar {
                            height: 43px;
                          }
                        }
                      }
                      select {
                        width: 80%;
                      }
                      .label-training {
                        max-width: 80%;
                        p {
                          text-align: left;
                        }
                      }
                      .input {
                        width: 80%;
                      }
                      .textarea-form {
                        margin: 0;
                        width: 79.3%;
                      }
                    }
                    .btn-order {
                      .btn-ok {
                        width: 79%;
                        margin: 0 auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .form-control-input-data {
    width: 70%;
  }
}
@media only screen and (max-width: 550px) {
  .calendar-checkout {
    .block-order-group {
      .input-group {
        width: 100% !important;
        .form-control {
        }
        .input-group-append {
          .calendar {
          }
        }
      }
      select {
        width: 100% !important;
      }
      .label-training {
        margin-left: 0 !important;
      }
      input {
        width: 100% !important;
      }
      .textarea-form {
        width: 99% !important;
      }
    }
    .btn-order {
      .btn-ok {
        width: 98% !important;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 470px;
    font-size: 15px;
  }
  .alert-order-success {
    border-radius: 0;
  }
  .alert-order-success p {
    font-size: 13px;
  }
  .text-checkout {
    font-size: 15px;
  }
  .container {
    padding-left: 18%;
    font-size: 13px;
  }
  .input {
    width: 100%;
  }
  .textarea-form {
    width: 100%;
  }
  .block-order-group select {
    width: 100%;
  }
  .block-order-group select {
    font-size: 18px;
    text-indent: 0.5em;
  }
  .error-input {
    width: 50%;
    margin: 10px 0 0 1%;
  }
  .btn-ok {
    width: 100%;
    //margin: 10px 10px 10px 55px
    //margin: 0 auto;
  }
}
@media only screen and (max-width: 400px) {
  //.trainer-visualisation {
  //  .block-photo-trainer {
  //    width: 150px !important;
  //
  //    .img {
  //      max-width: 150px !important;
  //    }
  //  }
  //}
  .list-visualisation-trainers {
    .block-selected-photo {
      max-width: 110px;
      height: 80px;
      .img {
        width: 110px;
        height: 80px;
      }
      .btn-detail-trainer {
        font-size: 10px !important;
      }
    }
  }
}


