<div class="wrapper">
  <div class="all-content-order" [@fadingAwayAnimate]>
    <app-loader *ngIf="loader"></app-loader>
    <div class="coach-header" *ngIf="!loader">
      <div class="btn-corrected"
           *ngIf="selectedTrainerId"
           [routerLink]="['/trainings/coach/resume', selectedTrainerId.id]">
          <span class="fas fa-chevron-left">
          <span class="btn-text">Назад</span>
        </span>
      </div>
      <div class=" btn-corrected"
           *ngIf="!selectedTrainerId"
           [routerLink]="['/trainings/coach']">
          <span class="fas fa-chevron-left">
          <span class="btn-text">Назад</span>
        </span>
      </div>
      <div class="white_bg">
        <div class="content-order">
          <div class="alert-order-success"
               *ngIf="doneOrder"
               [@fadingAwayAnimate]>
            <p> Спасибо, мы свяжится с вам в ближайшее время.</p>
          </div>
          <div *ngIf="done" class="order-checkout">
            <div class="text-checkout">
              <h1>Оформление заявки</h1>
            </div>
            <form class="form" name="form"
                  [formGroup]="orderForm"
                  (ngSubmit)="submitOrderSave()"
                  novalidate>
              <div class="contact-checkout">
                <br>
                <div class="trainer-checkout">
                  <div class="list-visualisation-trainers">
                    <p class="header-text-block-checkout">Тренеры</p>
                    <br>
                    <div class="position-content-checkout">
                      <div>
                        <div class="selectCoach" *ngFor="let data of trainersCheckbox">
                          <label class="container">{{data.value.name}} {{data.value.surname}}
                            <input class="inputCheckbox" name="trainers" type="checkbox"
                                   [attr.id]="data.value.id"
                                   (change)="onChange(
                                   data.value.name,
                                   data.value.surname,
                                   $event.target.checked,
                                   data.value)">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="block-selected-photo"
                           *ngIf="photoTrainerSelectedCheckbox"
                           [@fadingAwayAnimate]>
                        <img class="img"
                             [src]="'data:image/jpg;base64,'+ photoTrainerSelectedCheckbox" alt="photo trainer">
                        <span class="btn-detail-trainer"
                              *ngIf="idTrainerSelectedCheckbox"
                              title="Посмотреть резюме тренета"
                              [routerLink]="['/trainings/coach/resume', idTrainerSelectedCheckbox]">
                          Подробно о тренере
                        </span>
                      </div>
                    </div>
                    <br>
                    <div class="description-choice">
                      <p>* Выберите желаемого тренера или оставите ячейки пустыми</p>
                    </div>
                  </div>
                </div>
                <div class="calendar-checkout">
                  <app-loader *ngIf="loaderSubmit" [@fadingAwayAnimate]></app-loader>
                  <div [@fadingAwayAnimate]>
                    <p>Дата и выбор тренига</p>
                    <div class="block-order-group">
                      <div class="input-group">
                        <input formControlName="date" id="end-event" class="form-control"
                               [ngClass]="{invalid: isSubmitted && f.date.errors}"
                               placeholder="Выбери дату"
                               (input)="dataRedux()"
                               title="введи дату на выбраный тренинг"
                               name="end" ngbDatepicker
                               (click)="e.toggle()"
                               #e="ngbDatepicker">
                      </div>
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.date}}</span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.date.errors">
                          <span *ngIf="f.date.errors.required">* заполни поле </span>
                          <span *ngIf="f.date.hasError('dateValid')">*формат даты не верен (ГГГГ-ММ-ДД)</span>
                        </div>
                      </div>
                      <div class="label-training">
                        <p>Тренинги</p>
                      </div>
                      <select formControlName="training" name="training"
                              [ngClass]="{invalid: isSubmitted && f.training.errors}"
                              title="select">
                        <option class="select-input" id="training" name="training"
                                (input)="trainingRedux()"
                                *ngFor="let training of trainings">
                          {{training.name}}
                        </option>
                      </select>
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.training}}</span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.training.errors">
                          <span *ngIf="f.training.errors.required">* выбери тренинг </span>
                        </div>
                      </div>
                      <input formControlName="country" class="input" name="country" type="text"
                             [ngClass]="{invalid: isSubmitted && f.country.errors}"
                             (input)="countryRedux()"
                             [ngModel]="this.formRedux.country"
                             placeholder="Страна">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.country.errors">
                          <span *ngIf="f.country.errors.required">* заполни поле </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.country}}</span>
                        </div>
                      </div>
                      <input formControlName="city" class="input" name="city" type="text"
                             [ngClass]="{invalid: isSubmitted && f.city.errors}"
                             [ngModel]="this.formRedux.city"
                             (input)="cityRedux()"
                             placeholder="город проведения тренинга">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.city.errors">
                          <span *ngIf="f.city.errors.required">* заполни поле </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.city}}</span>
                        </div>
                      </div>
                      <input formControlName="company" class="input" type="text" name="company"
                             [ngClass]="{invalid: isSubmitted && f.company.errors}"
                             (input)="nameCompanyRedux()"
                             [ngModel]="this.formRedux.nameCompany"
                             placeholder="назавние компании ">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.company.errors">
                          <span *ngIf="f.company.errors.required">* заполни поле </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.company}}</span>
                        </div>
                      </div>
                      <input formControlName="nameSurname" class="input" type="text" name="nameSurname"
                             [ngClass]="{invalid: isSubmitted && f.nameSurname.errors}"
                             (input)="nameRedux()"
                             [ngModel]="this.formRedux.nameSurname"
                             placeholder="имя, фамилия ">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.nameSurname.errors">
                          <span *ngIf="f.nameSurname.errors.required">* заполни поле </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.nameSurname}}</span>
                        </div>
                      </div>
                      <input formControlName="phone" class="input" type="text" name="phone"
                             [ngClass]="{invalid: isSubmitted && f.phone.errors}"
                             (input)="phoneRedux()"
                             [ngModel]="this.formRedux.phone"
                             placeholder="номер телефона ">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.phone.errors">
                          <span *ngIf="f.phone.errors.required">* заполни поле </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.phone}}</span>
                        </div>
                      </div>
                      <input formControlName="email" class="input" type="email" name="email"
                             [ngClass]="{invalid: isSubmitted && f.email.errors}"
                             (input)="emailRedux()"
                             [ngModel]="this.formRedux.email"
                             placeholder="email">
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.email.errors">
                          <span *ngIf="f.email.errors.required">* заполни поле </span>
                          <span *ngIf="f.email.errors.email">* поле не формата email </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.email}}</span>
                        </div>
                      </div>
                      <textarea formControlName="description" class="textarea-form" type="text"
                                [ngClass]="{invalid: isSubmitted && f.description.errors}"
                                (input)="descriptionRedux()"
                                [(ngModel)]="this.formRedux.description"
                                name="description"
                                placeholder="дополнительная информация...."></textarea>
                      <div class="error-input">
                        <div [@fadingAwayAnimate] *ngIf="isSubmitted && f.description.errors">
                          <span *ngIf="f.description.errors.maxlength">* не больше 1025 символа </span>
                        </div>
                        <div [@fadingAwayAnimate] *ngIf="orderError">
                          <span>{{orderError.description}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="btn-order">
                      <button class="btn-ok" type="submit">Отправить заказ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <br>
          </div>
          <hr *ngIf="!doneOrder" class="hr-line-down">
        </div>
      </div>
    </div>
  </div>
</div>
