:host ::ng-deep.calendar {
  padding-left: 40px;
  padding-right: 52px;
  position: relative;
  min-height: 63vh;
  .calendar-container {
    margin-top: 40px;
    .positions-btn-calendar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .btn-month-block {
        display: flex;
        justify-content: space-between;
        .btn-next-prev {
          display: flex;
          justify-content: space-between;
        }
        .btn-calendar {
          padding: 10px 10px;
          background: var(--background-calendar-btn);
          color: white;
          margin: 2px;
          border-radius: 2px;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          .icon-arrow {
            padding: 0 8px;
          }
          &:hover {
            transition: all 0.4s ease-in;
            background: #2F3338;
          }
        }
      }
      .data-block {
        display: flex;
        align-items: flex-end;
        &__text {
          font-size: 20px;
          color: var(--color-calendar-text);
        }
      }
      .btn-for-the-current-month {
        display: flex;
        justify-content: space-between;
        .btn-calendar {
          padding: 10px 10px;
          background: var(--background-calendar-btn);
          color: var(--color-calendar-btn);
          margin: 2px;
          border-radius: 2px;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          &:hover {
            transition: all 0.4s ease-in;
            background: #2F3338;
          }
        }
      }
    }
    .full-calendar {
      font-family: var(--font-webinars-main);
      .fc-toolbar {
        display: none;
      }
      .fc-view-container {
        .fc-view {
          table {
            .fc-head {
              //border-color: darkred;
              tr {
                .fc-head-container, .fc-widget-header {
                  //border-color: #69737D;
                  padding: 5px 0;
                  background: var(--background-calendar-header-table);
                  border-color: var(--background-calendar-header-table);
                  table {
                    thead {
                      tr {
                        .fc-day-header {
                          span {
                            color: var(--color-calendar-btn);
                            font-size: 18px;
                            font-weight: 200;
                            display: block;
                            border-left: 1px solid var(--color-calendar-btn);
                            padding: 10px 0;
                          }
                          &:first-of-type {
                            span {
                              border-left: transparent;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .fc-body {
            tr {
              .fc-widget-content {
                border-color: var(--color-calendar-btn);
                .fc-day-grid {
                  .fc-content-skeleton {
                    table {
                      thead {
                        tr {
                        }
                      }
                    }
                    .fc-event-container {
                      .fc-content {
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .fc-day {
        background: var(--background-calendar-body-table);
      }
      .fc-today {
        background: var(--background-calendar-active-day-table);
        .fc-day-number {
          color: var(--color-calendar-active-day);
          padding-right: 10px;
        }
      }
      .fc-day-number {
        color: var(--color-text-calendar-day-table);
        padding-right: 10px;
      }
    }
  }
  .body-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000000;
    font-family: var(--fonts-main);
    .content-modal {
      position: fixed;
      top: 35%;
      left: 35%;
      right: 35%;
      background-color: var(--background-color-modal-calendar);
      border-radius: 3px;
      margin: 15px;
      padding: 15px;
      .header-modal {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 9px;
        border-bottom: 1px solid var(--background-calendar-main);
        pointer-events: none;
        .calendar-icon {
          padding-left: 2px;
          position: relative;
          top: 1px;
          &:before {
            font-size: 27px;
            color: var(--color-calendar-text);
          }
        }
        .text-header {
          padding-left: 12px;
          color: var(--color-calendar-text);
          width: 80%;
          text-align: center;
        }
      }
      .info-title {
        padding: 10px;
        min-height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        .comment-icon {
          position: relative;
          top: 2px;
          left: -7px;
          &:before {
            font-size: 24px;
            color: var(--color-calendar-text);
          }
        }
        .text-comment {
          padding-left: 12px;
          color: var(--color-calendar-text);
          text-align: center;
          width: 80%;
        }
      }
      .info-time {
        padding: 10px;
        min-height: 35px;
        margin: auto;
        display: flex;
        align-items: center;
        .clock-icon {
          position: relative;
          top: 2px;
          left: -7px;
          &:before {
            font-size: 24px;
            color: var(--color-calendar-text);
          }
        }
        .time-event {
          padding-left: 12px;
          color: var(--color-calendar-text);
          text-align: center;
          width: 80%;
        }
      }
      .close-block {
        position: absolute;
        bottom: 4px;
        right: 9px;
        cursor: pointer;
        pointer-events: visible;
        .close-modal-icon {
          &:before {
            font-size: 22px;
            color: silver;
            transition: all 0.4s ease-in;
          }
          &:hover {
            &:before {
              transition: all 0.4s ease-in-out;
              color: red;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1400px) {
  .body-modal {
    .content-modal {
      left: 30%;
      right: 30%;
    }
  }
}
@media all and (max-width: 1200px) {
  .body-modal {
    .content-modal {
      left: 25%;
      right: 25%;
    }
  }
}
@media all and (max-width: 1000px) {
  .body-modal {
    .content-modal {
      left: 20%;
      right: 20%;
    }
  }
}
@media all and (max-width: 1000px) {
  .body-modal {
    .content-modal {
      left: 10%;
      right: 10%;
    }
  }
}
@media all and (max-width: 800px) {
  .calendar {
    padding: 10px;
    .calendar-container {
      margin-top: 20px !important;
    }
  }
}
@media all and (max-width: 650px) {
  .wrapper {
    .calendar {
      .calendar-container {
        .positions-btn-calendar {
          flex-direction: column;
          justify-content: space-between;
          .data-block {
            align-items: center;
            margin: auto;
            padding: 7px;
          }
        }
      }
    }
  }
}
