<div class="wrapper">
  <div class="calendar" [@fadingAwayAnimate]>
    <app-loader-page-spinner *ngIf="loader"></app-loader-page-spinner>
    <div class="calendar-container" *ngIf="!loader">
      <div class="positions-btn-calendar">
        <div class="btn-month-block">
          <div class="btn-calendar" (click)="prevCalendar()">
            <i class="fas fa-chevron-left icon-arrow"></i>
          </div>
          <div class="btn-calendar" (click)="nextCalendar()">
            <i class="fas fa-chevron-right icon-arrow"></i>
          </div>
          <div class="btn-calendar" (click)="todayCalendar()"> Сегодня</div>
        </div>
        <div class="data-block">
          <span class="data-block__text"> {{dataVisual}}</span>
        </div>
        <div class="btn-for-the-current-month">
          <div class="btn-calendar" (click)="monthCalendar()">Месяц</div>
          <div class="btn-calendar" (click)="weekCalendar()">Неделя</div>
        </div>
      </div>
      <full-calendar #calendar class="full-calendar" [@fadingAwayAnimate]
                     [plugins]="calendarPlugins"
                     [eventLimit]="options.eventLimit"
                     [events]="options.events"
                     [height]="options.height"
                     [locale]="options.locale"
                     [timeZone]="options.timeZoneParam"
                     [themeSystem]="options.themeSystem"
                     [selectable]="options.selectable"
                     (eventClick)="eventClick($event)"
      ></full-calendar>
    </div>
    <div id="modal" class="body-modal" *ngIf="contentModalShow " [@fadingAwayAnimate]>
      <div class="content-modal">
        <div class="header-modal">
          <i class="far fa-calendar-alt calendar-icon"></i>
          <span class="text-header">Событие</span>
        </div>
        <div class="info-title">
          <i class="far fa-comment-alt comment-icon"></i>
          <span class="text-comment"> {{modelCalendarTrainingsDate.title}}</span>
        </div>
        <div class="info-time">
          <i class="far fa-clock clock-icon"></i>
          <span class="time-event"> {{modelCalendarTrainingsDate.start| date:'dd.MM.yyyy'}}
            - {{modelCalendarTrainingsDate.end |date:'dd.MM.yyyy'}}
          </span>
        </div>
        <div class="close-block">
          <i class="fas fa-times close-modal-icon" (click)="modalClose()"></i>
        </div>
      </div>
    </div>
  </div>
</div>

