<div class="wrapper">
  <div class="all-content" [@fadingAwayAnimate]>
    <app-loader-page-spinner *ngIf="loader"></app-loader-page-spinner>
    <div *ngIf="!loader" [@fadingAwayAnimate]>
      <div class="industries-trainings">
        <div class="list-industries" *ngFor="let elem of inscriptions;">
          <p class="paragraph">{{elem.paragraph}}</p>
          <p class="description">{{elem.description}}</p>
        </div>
      </div>
      <div class="block-add-trainings">
        <div class="position-block-trainings" *ngFor="let training of trainings; let i = index">
          <div class="training-info-block" *ngFor="let elem of trainings[i].photoTrainings;">
            <img [src]="'data:image/jpg;base64,' + elem.photo" alt="photo">
            <div class="down-info">
              <h3>{{training.name}}</h3>
              <div class="bl">
                <span>{{training.briefly}}</span>
              </div>
            </div>
          </div>
          <div class="block-btn">
            <div class="btn-training">
              <span class="btn-training__text">Заказть корпоративный тренинг</span>
            </div>
          </div>
          <div class="block-btn-training">
            <div class="btn-training" (click)="noClickTrainings(training.id)">
              <span class="btn-training__text">Заказть корпоративный тренинг</span>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <br>
  </div>
</div>
