/* You can add global styles to this file, and also import other style files */
@import "./scss/fonts";
@import "./scss/vars";
@import "./scss/rest";
@import "src/assets/scss/sprire";
//@import "../node_modules/bootstrap/dist/css/bootstrap.css";
//@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
//@import "../node_modules/fullcalendar/dist/fullcalendar.css";
//
:root {
  --fonts-main: Exo2Regular, "Helvetica Neue", sans-serif;
  --font-header-topic: 'Casiopea_SemiBold', serif;
  --font-coach-header: Arial, Helvetica, sans-serif, serif;
  --fonts-coach-trainer: Fira_Sans_Condensed_Light, serif;
  --font-show-couch-resume: Exo2Regular, Arial, sans-serif;
  --font-show-couch-resume2: Arial, Helvetica, sans-serif, serif;
  --font-order: 'KIA_KIAM', serif;
  --font-traning-briefly: Exo2Regular, serif;
  --font-traning-coash: Fira_Sans_Condensed_Light, serif;
  --font-traning-component: 'KIA_KIAM', serif;
  --font-traning-bl-info: Exo2Light, sans-serif, serif;
  --font-webinars-main: 'KIA_KIAM', serif;
  --font-webinars-training-header:Fira_Sans_Condensed_Light, serif;
  --font-webinars-training-data:'Casiopea_Regular', serif;
  --font-webinars-show:Fira_Mono, sans-serif, serif;
  --font-webinars-show-cunt:Fira_Sans_Condensed_Light, serif;
  --font-webinars-show-table: 'KIA_KIAM', serif, sans-serif, serif;
  --font-order-description-choice: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-order-checkout: Arial, Helvetica, sans-serif, serif;
  --font-footer-light: 'Casiopea_Light', serif;
  --font-footer-regular: 'Casiopea_Regular', serif;
  --font-footer-header: 'Ubuntu_Rehular', serif;
}
*, :active, :focus, :hover {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-offset: 0;
}
html, body, iframe {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--fonts-main);
  background: #fbfbfb;
  scroll-behavior: smooth; // стиль для поавной прокрутки страници
  a {
    text-decoration: none;
  }
  input, select {
    border: 1px solid silver;
  }
  p {
    margin: 5px;
    padding: 5px;
  }
  ul {
    padding: 0;
    margin: 5px;
    li {
      padding: 0;
      list-style: none;
    }
  }
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
// Стили для кнопки в приложении
.btn-all-application {
  display: inline-block;
  border: 1px solid #648095;
  transition: all 0.5s ease-out;
  padding: 6px 10px;
  background: transparent;
  cursor: pointer;
  text-align: center;
  .btn-text {
    color: #648095;
    transition: all 0.5s ease-out;
    i {
      transition: all 0.5s ease-out;
      position: relative;
      top: 0;
      left: -3px;
      font-size: 11px;
      color: #648095;
    }
  }
  &:hover {
    background: rgba(100, 128, 149, 0.6) !important;
    border: 1px solid white;
    //border-radius: 3px;
    transition: all 0.5s ease-in;
    .btn-text {
      color: white;
      transition: all 0.5s ease-in;
      i {
        position: relative;
        top: 0;
        left: -3px;
        font-size: 14px;
        color: #648095;
        transition: all 0.5s ease-in;
      }
    }
  }
}
//
.btn-corrected {
  margin-bottom: 20px;
  transition: all .3s ease-out;
  background: transparent;
  border: 1px solid #648095;
  padding: 5px 15px;
  z-index: 999;
  cursor: pointer;
  display: inline-block;
  .fa-chevron-left {
    font-size: 12px;
    color: #648095;
    &:before {
      transition: all .2s ease-out;
      position: relative;
      top: -1px;
      left: -8px;
    }
  }
  .btn-text {
    position: relative;
    top: -1px;
    left: 3px;
    font-size: 12px;
    color: #648095;
  }
  &:hover {
    transition: all .3s ease-in;
    background: rgba(100, 128, 149, 0.6);
    .fa-chevron-left {
      transition: all .2s ease-out;
      color: white;
    }
    .btn-text {
      transition: all .3s ease-in;
      color: white;
    }
  }
}
@media all and (max-width: 800px) {
  .btn-corrected {
    top: 6px !important;
    position: fixed;
    left: 5px;
    border: 1px solid white;
    background: rgba(0, 0, 0, .2);
    .fa-chevron-left {
      &:before {
        color: white;
      }
    }
    .btn-text {
      color: white;
    }
  }
}
