/* You can add global styles to this file, and also import other style files */
@import "./scss/fonts";
@import "./scss/vars";
@import "./scss/rest";
@import "src/assets/scss/sprire";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
:root {
  --fonts-main: Exo2Regular, "Helvetica Neue", sans-serif;
  --font-header-topic: 'Casiopea_SemiBold', serif;
  --font-coach-header: Arial, Helvetica, sans-serif, serif;
  --fonts-coach-trainer: Fira_Sans_Condensed_Light, serif;
  --font-show-couch-resume: Exo2Regular, Arial, sans-serif;
  --font-show-couch-resume2: Arial, Helvetica, sans-serif, serif;
  --font-order: 'KIA_KIAM', serif;
  --font-traning-briefly: Exo2Regular, serif;
  --font-traning-coash: Fira_Sans_Condensed_Light, serif;
  --font-traning-component: 'KIA_KIAM', serif;
  --font-traning-bl-info: Exo2Light, sans-serif, serif;
  --font-webinars-main: 'KIA_KIAM', serif;
  --font-webinars-training-header: Fira_Sans_Condensed_Light, serif;
  --font-webinars-training-data: 'Casiopea_Regular', serif;
  --font-webinars-show: Fira_Mono, sans-serif, serif;
  --font-webinars-show-cunt: Fira_Sans_Condensed_Light, serif;
  --font-webinars-show-table: 'KIA_KIAM', serif, sans-serif, serif;
  --font-order-description-choice: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-order-checkout: Arial, Helvetica, sans-serif, serif;
  --font-footer-light: 'Casiopea_Light', serif;
  --font-footer-regular: 'Casiopea_Regular', serif;
  --font-footer-header: 'Ubuntu_Rehular', serif;
}
:root {
  --background-main-aplication: #FBFBFB;
  --color-main-text-aplication: #555555;
  --color-border: #80A0A2;
  --header-background: #EBEBEB;
  --header-color-text: #355F80;
  --color-price-text: #008000;
  --background-btn: #4c677b;
  --background-color-body-blok: #F0F0F0;
  --color-white: #FFFFFF;
  --background-white: #FFFFFF;
  --color-text-block-coach: #7F989A;
  --background-btn-text: #92A0A2;
  --background-activ-block: #92A0A2;
  --background-hover-btn: #EBEBEB;
  --color-hover-btn-text: #48433F;
  --color-text-table-ligh: #2C6365;
  --background-table-dark: #2C6365;
  --background-table-light: #EBEBEB;
  --color-input-text: #2C6365;
  --color-error: #F3ADAD;
  --color-border-input-invalid: #F3ADAD;
  --color-border-input-valid: #97C1E1;
  --background-alert: rgba(210, 245, 245, 0.3);
  --background-darken-opacity-block: rgba(1, 3, 7, 0.2);
  --color-red: #ff424a;
  --color-alert-success: #008000;
  --color-alert-danger: #FF4500;
  --color-alert-warning: #FF0000;
  --color-paragraph-title: #4d4d4d;
  --color-paragraph-description: #565d65;
  --background-dark-ligh: rgba(0, 0, 0, .1);
  --input-checkbox-color: #147d67;
  --input-checkbox-background: #147d67;
}
*, :active, :focus, :hover {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  outline-offset: 0;
}
html, body, iframe {
  box-sizing: border-box;
  //height: 100%;
  //overflow: ;
  margin: 0;
  padding: 0;
  font-family: var(--fonts-main);
  background: #fbfbfb;
  scroll-behavior: smooth; // стиль для поавной прокрутки страници
  a {
    text-decoration: none;
  }
  input, select {
    border: 1px solid silver;
  }
  input::-webkit-input-placeholder {
    color: var(--color-input-text);
  }
  input:-ms-input-placeholder {
    color: var(--color-input-text);
  }
  input::-ms-input-placeholder {
    color: var(--color-input-text);
  }
  input::placeholder {
    color: var(--color-input-text);
  }
  p {
    margin: 5px;
    padding: 5px;
  }
  ul {
    padding: 0;
    margin: 5px;
    li {
      padding: 0;
      list-style: none;
    }
  }
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;

}
// Стили для кнопки в приложении
.btn-all-application {
  display: inline-block;
  border: 1px solid var(--color-border);
  transition: all 0.5s ease-out;
  padding: 6px 10px;
  background: transparent;
  cursor: pointer;
  text-align: center;
  border-radius: 1px;
  .btn-text {
    color: var(--color-text-table-ligh);
    font-family: var(-font-order);
    transition: all 0.5s ease-out;
    i {
      transition: all 0.5s ease-out;
      position: relative;
      top: 0;
      left: -3px;
      font-size: 11px;
      color: var(--color-text-table-ligh);
    }
  }
  &:hover {
    background: var(--background-hover-btn) !important;
    transition: all 0.5s ease-in;
    .btn-text {
      color: var(--color-hover-btn-text);
      transition: all 0.5s ease-in;
      i {
        position: relative;
        top: 0;
        left: -3px;
        font-size: 14px;
        color: var(--color-hover-btn-text);
        transition: all 0.5s ease-in;
      }
    }
  }
}
//
.btn-corrected {
  margin-bottom: 20px;
  transition: all .3s ease-out;
  background: transparent;
  border: 1px solid var(--color-border);
  padding: 5px 15px;
  z-index: 999;
  cursor: pointer;
  display: inline-block;
  border-radius: 1px;
  .fa-chevron-left {
    font-size: 12px;
    color: var(--color-text-table-ligh);
    &:before {
      transition: all .2s ease-out;
      position: relative;
      top: -1px;
      left: -8px;
    }
  }
  .btn-text {
    font-family: var(--font-footer-header) !important;
    position: relative;
    top: -1px;
    left: 3px;
    font-size: 15px;
    color: var(--color-text-table-ligh);
    font-weight: normal;
  }
  &:hover {
    border: 1px solid silver;
    transition: all .3s ease-in;
    background: var(--background-hover-btn);
    .fa-chevron-left {
      &:before {
        transition: all .2s ease-out;
        color: var(--color-text-table-ligh);
      }
    }
    .btn-text {
      transition: all .3s ease-in;
      color: var(--color-text-table-ligh);
    }
  }
}
@media all and (max-width: 800px) {
  .btn-corrected {
    top: 6px !important;
    position: fixed;
    left: 5px;
    border: 1px solid var(--color-white);
    background: rgba(0, 0, 0, .2);
    .fa-chevron-left {
      &:before {
        color: var(--color-white);
      }
    }
    .btn-text {
      color: var(--color-white);
    }
  }
}
